<div class="header_fixe_web" style="position: fixed;z-index: 4;background-color: #ffffff;top: 128px;margin: 0 auto;width: 100%;">
    <div class="menu-desktop">
        <div class="content-menu-desktop">
            <button class="menu-link-produits" onclick="toggleMenu()">
                <div class="menu-icon" id="menu-icon"></div>
                <div class="link-produits">
                    Produits
                </div>
            </button>
            <div class="menu-other-link">
                <div class="other-link">
                    <a href="/nouveautes.html?ordre=datedesc&np=0&limit=220" class="">
                        Nouveautés
                    </a>
                </div>
                <div class="separation-line">
                </div>
                <div class="other-link">
                    <a href="/top.html?ordre=top" class="">
                        Meilleures ventes
                    </a>
                </div>
                <div class="separation-line">
                </div>
                <div class="other-link">
                    <a href="/marques.html" class="">Marques</a>
                </div>
                <div class="separation-line">
                </div>
                <div class="other-link">
                    <a href="premium.html" class="">Puzzles Premium</a>
                </div>
                <div class="separation-line">
                </div>
               <div class="other-link">
                    <a class="link-puzzle-perso " href="/catalogue/puzzles-personnalises.php">
                        <div style="float:left">Puzzles photo</div>   <img src="/images/pict-mif.svg" title="Fabriqué en France" alt="Fabriqué en France" style="float:left; height: 22px;margin-left: 5px;">
                    </a>
                </div>
				 <div class="separation-line">
                </div>
                <div class="other-link">
                    <a href="/coin-des-bonnes-affaires.ga1234.html">
                        <div class="link-deals ">Bonnes affaires</div>
                    </a>
                </div>
                <div class="separation-line">
                </div>
				<div class="other-link">
                    <a style="color: #FF780F;" href="/promotions.html?ordre=top&np=0&limit=220" class=" ">
                        Promotions                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-sous-menu-desktop" onmouseleave="toggleMenu()">
        <div class="sous-menu-desktop" id="sous-menu-desktop">
            <div class="menu-column active">
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'themes'); updateSubMenu2(event, 'themes');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'themes'); updateSubMenu2(event, 'themes'); }"
                    >
                    <button class="submenu" onmouseover="clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Thèmes                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'tailles'); updateSubMenu2(event, 'tailles');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'tailles'); updateSubMenu2(event, 'tailles'); }"
                    >
                    <button class="submenu" onmouseover=" clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Tailles                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'formats'); updateSubMenu2(event, 'formats');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'formats'); updateSubMenu2(event, 'formats'); }"
                    >
                    <button class="submenu" onmouseover=" clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Formats                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'Âges'); updateSubMenu2(event, 'Âges');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'Âges'); updateSubMenu2(event, 'Âges'); }"
                    >
                    <button class="submenu" onmouseover=" clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Âges                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'artistes'); updateSubMenu2(event, 'artistes');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'artistes'); updateSubMenu2(event, 'artistes'); }"
                    >
                    <button class="submenu" onmouseover=" clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Artistes                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'accessoires'); updateSubMenu2(event, 'accessoires');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'accessoires'); updateSubMenu2(event, 'accessoires'); }"
                    >
                    <button class="submenu" onmouseover=" clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Accessoires                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                                <div class="sous-title-menu sous-title-menu2" onmouseover="showSubMenu(event, 'Puzzles en bois'); updateSubMenu2(event, 'Puzzles en bois');"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { showSubMenu(event, 'Puzzles en bois'); updateSubMenu2(event, 'Puzzles en bois'); }"
                    >
                    <button class="submenu" onmouseover=" clearSubSubMenu();highlightMenuItem(this)"  onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem(this)}">
                        <span>
                            Puzzles en bois                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                </div>
                            </div>
            <div class="menu-column" id="menu-column2">
                                <div class="sous-title-menu sous-title-menu3" id="themes" style="display: none;">
                                                            <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Constructions Humaines'); updateSubMenu3('Constructions Humaines');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Constructions Humaines'); updateSubMenu3('Constructions Humaines');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Constructions Humaines                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Natures et Paysages'); updateSubMenu3('Natures et Paysages');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Natures et Paysages'); updateSubMenu3('Natures et Paysages');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Natures et Paysages                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Hommes, Femmes et Enfants'); updateSubMenu3('Hommes, Femmes et Enfants');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Hommes, Femmes et Enfants'); updateSubMenu3('Hommes, Femmes et Enfants');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Hommes, Femmes et Enfants                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Arts, Objets et Natures mortes'); updateSubMenu3('Arts, Objets et Natures mortes');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Arts, Objets et Natures mortes'); updateSubMenu3('Arts, Objets et Natures mortes');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Arts, Objets et Natures mortes                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Animaux'); updateSubMenu3('Animaux');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Animaux'); updateSubMenu3('Animaux');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Animaux                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/catalogue/puzzles-personnalises.php">
                        Puzzles personnalis&eacute;s                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/selection-puzzle-pour-enfants-96,98,108,109,110,111,112,113,114,115,116,117,119,120,121,122,123,124,125,126,129,130,153.html?ordre=top">
                        Puzzles pour Enfants                    </a>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Moyens de transport'); updateSubMenu3('Moyens de transport');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Moyens de transport'); updateSubMenu3('Moyens de transport');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Moyens de transport                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Puzzles Pays'); updateSubMenu3('Puzzles Pays');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Puzzles Pays'); updateSubMenu3('Puzzles Pays');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Puzzles Pays                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3" id="tailles" style="display: none;">
                                                            <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Puzzles pour les juniors'); updateSubMenu3('Puzzles pour les juniors');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Puzzles pour les juniors'); updateSubMenu3('Puzzles pour les juniors');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Puzzles pour les juniors                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Puzzles pour adultes'); updateSubMenu3('Puzzles pour adultes');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Puzzles pour adultes'); updateSubMenu3('Puzzles pour adultes');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Puzzles pour adultes                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Les &quot;presque&quot; Puzzles'); updateSubMenu3('Les &quot;presque&quot; Puzzles');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Les &quot;presque&quot; Puzzles'); updateSubMenu3('Les &quot;presque&quot; Puzzles');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Les &quot;presque&quot; Puzzles                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/crystal-art">
                        Broderie Diamant                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/catalogue/puzzles-personnalises.php">
                        Puzzles Photo                    </a>
                                                                                <div class="image-sous-menu" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem2(this)}">
                        <a tabindex="1" href="/selection-puzzle-6000-a-54000-8,9.html">
                            <div class="content-image-menu">
                                <img class="sous-value-menu-image" src="/images/ss-menu-puzzles-geants.webp"
                                    alt="Puzzles g&eacute;ants">
                                <div class="content-image-menu-text">
                                    Puzzles g&eacute;ants                                </div>
                            </div>
                        </a>
                    </div>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3" id="formats" style="display: none;">
                                                            <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Formats des puzzles assembl&eacute;s'); updateSubMenu3('Formats des puzzles assembl&eacute;s');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Formats des puzzles assembl&eacute;s'); updateSubMenu3('Formats des puzzles assembl&eacute;s');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Formats des puzzles assembl&eacute;s                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Format des pi&egrave;ces de Puzzles'); updateSubMenu3('Format des pi&egrave;ces de Puzzles');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Format des pi&egrave;ces de Puzzles'); updateSubMenu3('Format des pi&egrave;ces de Puzzles');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Format des pi&egrave;ces de Puzzles                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <div class="image-sous-menu" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem2(this)}">
                        <a tabindex="1" href="/puzzle-3d.ga591.html">
                            <div class="content-image-menu">
                                <img class="sous-value-menu-image" src="/images/ss-menu-puzzles-3d.webp"
                                    alt="Puzzles 3D">
                                <div class="content-image-menu-text">
                                    Puzzles 3D                                </div>
                            </div>
                        </a>
                    </div>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3" id="Âges" style="display: none;">
                                                            <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Puzzles pour enfants'); updateSubMenu3('Puzzles pour enfants');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Puzzles pour enfants'); updateSubMenu3('Puzzles pour enfants');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Puzzles pour enfants                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <button tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="showSubSubMenu(event, 'Puzzles pour adultes'); updateSubMenu3('Puzzles pour adultes');highlightMenuItem2(this);reapplyActiveClass(this);" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {showSubSubMenu(event, 'Puzzles pour adultes'); updateSubMenu3('Puzzles pour adultes');highlightMenuItem2(this);reapplyActiveClass(this);}">
                        <span>
                            Puzzles pour adultes                        </span>
                        <img src="/img/nav-arrow-right.svg" alt="">
                    </button>
                                                                                <div class="image-sous-menu" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem2(this)}">
                        <a tabindex="1" href="/selection-juniors-19,18,17,16,15,14,13,151.html">
                            <div class="content-image-menu">
                                <img class="sous-value-menu-image" src="/images/ss-menu-puzzles-enfants.webp"
                                    alt="Puzzles pour Enfants">
                                <div class="content-image-menu-text">
                                    Puzzles pour Enfants                                </div>
                            </div>
                        </a>
                    </div>
                                                                                <div class="image-sous-menu" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem2(this)}">
                        <a tabindex="1" href="/puzzles-pieces-difficiles.ga614.html">
                            <div class="content-image-menu">
                                <img class="sous-value-menu-image" src="/images/ss-menu-puzzles-difficiles.webp"
                                    alt="Puzzles Difficiles">
                                <div class="content-image-menu-text">
                                    Puzzles Difficiles                                </div>
                            </div>
                        </a>
                    </div>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3" id="artistes" style="display: none;">
                                                            <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/auteurs-personnages.html?block=adult-authors">
                        Auteurs pour adultes                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/auteurs-personnages.html?block=licenses-children">
                        Licences pour enfants                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3" id="accessoires" style="display: none;">
                                                            <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/tapis-de-puzzles.c27.html">
                        Tapis de Puzzles                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/cadres-pour-puzzles.c286.html">
                        Cadres pour Puzzles                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/colles-pour-puzzles.c28.html">
                        Colles pour Puzzles                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/plateaux-et-porte-puzzles.c92.html">
                        Porte-puzzles et Plateaux                    </a>
                                                                                <a tabindex="-1" class="sous-value-menu" tabindex="1" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) {clearSubSubMenu();highlightMenuItem2(this)}"
                        href="/boites-de-tri.c29.html">
                        Boites de tri                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3" id="Puzzles en bois" style="display: none;">
                                                            <div class="image-sous-menu" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem2(this)}">
                        <a tabindex="1" href="/bois.ga576.html?nix=1&atr=576,611,610,609,608,607,556,606">
                            <div class="content-image-menu">
                                <img class="sous-value-menu-image" src="/images/ss-menu-puzzles-enfants-bois.webp"
                                    alt="Puzzles Enfants">
                                <div class="content-image-menu-text">
                                    Puzzles Enfants                                </div>
                            </div>
                        </a>
                    </div>
                                                                                <div class="image-sous-menu" onmouseover="clearSubSubMenu();highlightMenuItem2(this)" onkeydown="if (event.key === 'Enter' || event.keyCode === 13) { clearSubSubMenu();highlightMenuItem2(this)}">
                        <a tabindex="1" href="bois.ga576.html?nix=1&atr=576,605">
                            <div class="content-image-menu">
                                <img class="sous-value-menu-image" src="/images/ss-menu-puzzles-adultes-bois.webp"
                                    alt="Puzzles Adultes">
                                <div class="content-image-menu-text">
                                    Puzzles Adultes                                </div>
                            </div>
                        </a>
                    </div>
                                                        </div>
                            </div>
            <div class="menu-column">
                                                <div class="sous-title-menu sous-title-menu3 "
                    id="Constructions Humaines" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzle-chateaux-et-palaces.c46.html">
                        Ch&acirc;teaux et Palaces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-collages.c152.html">
                        Collages                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-cottages-et-chalets.c40.html">
                        Cottages et Ch&acirc;lets                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-eglises-cathedrales-et-mosquees.c81.html">
                        Églises, Cath&eacute;drales et Mosqu&eacute;es                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-egypte-pharaons-et-pyramides.c47.html">
                        Égypte, Pharaons et Pyramides                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-monuments.c36.html">
                        Monuments                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-puzzle-phares-et-moulins-157,82.html">
                        Phares et Moulins                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-ponts.c83.html">
                        Ponts                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-ports.c127.html">
                        Ports                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-villes-et-villages.c35.html">
                        Villes et Villages                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Natures et Paysages" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzle-cartes-du-monde-et-mappemonde.c45.html">
                        Cartes du Monde                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-cascades.c128.html">
                        Cascades                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-fonds-marins.c99.html">
                        Fonds Marins                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-forets-fleurs-et-jardins.c79.html">
                        For&ecirc;ts, Fleurs et Jardins                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-mers-et-oceans.c33.html">
                        Mers et Oc&eacute;ans                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-montagnes.c32.html">
                        Montagnes                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-neige.c107.html">
                        Neige                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-parcs-naturels-et-nationaux.c106.html">
                        Parcs Naturels et Nationaux                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-plages-et-iles-de-reve.c51.html">
                        Plages et &Icirc;les de r&ecirc;ve                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-soleil-lune-et-coucher-de-soleil.c94.html">
                        Soleil, Lune                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 multiple-columns"
                    id="Hommes, Femmes et Enfants" style="display: none; ">
                                                                                <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/puzzle-amour-et-tendresse.c49.html">
                            Amour et Tendresse                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-anges-fees-et-elfes.c74.html">
                            Anges                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-bebes-et-enfants.c44.html">
                            B&eacute;b&eacute;s et Enfants                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-erotiques-et-sensualite.c76.html">
                            Erotiques et Sensualit&eacute;                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-gothiques-sorcieres-et-vampires.c75.html">
                            Gothiques et Sorci&egrave;res                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzles-halloween.c284.html">
                            Halloween                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-hommes-et-femmes.c89.html">
                            Hommes et Femmes                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-humour-et-satire.c48.html">
                            Humour, Satire et Wasgij                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-indiens.c78.html">
                            Indiens                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-musique-danse-et-instruments.c103.html">
                            Musique, Danse, Instruments                        </a>
                                            </div>
                                        <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/puzzle-noel.c88.html">
                            No&euml;l                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-personnages-celebres.c147.html">
                            Personnages C&eacute;l&egrave;bres                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-religions-et-mysticisme.c84.html">
                            Religions et Mysticisme                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzles-signes-du-zodiaque.c187.html">
                            Signes du Zodiaque                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-sports.c77.html">
                            Sports                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-zen-bien-etre.c160.html">
                            Zen et Bien &ecirc;tre                        </a>
                                            </div>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Arts, Objets et Natures mortes" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzle-affiches-de-cinema-publicite.c43.html">
                        Affiches de cin&eacute;ma, publicit&eacute;                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-art.c42.html">
                        Art                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-art-pour-les-enfants.c132.html">
                        Art pour les enfants                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-deco-culinaire.c100.html">
                        D&eacute;co Culinaire                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-deco-et-objets.c52.html">
                        D&eacute;co et Objets                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-retros-et-nostalgie.c41.html">
                        R&eacute;tros et nostalgie                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-serie-tv.c189.html">
                        S&eacute;rie TV                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 multiple-columns"
                    id="Animaux" style="display: none; ">
                                                                                <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/puzzle-animaux-de-la-ferme.c61.html">
                            Animaux de la ferme                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-animaux-de-la-foret.c105.html">
                            Animaux de la for&ecirc;t                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-animaux-fantastiques.c90.html">
                            Animaux fantastiques                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-animaux-marins.c63.html">
                            Animaux marins                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-animaux-sauvages.c62.html">
                            Animaux sauvages                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-autres-animaux.c72.html">
                            Autres animaux                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-chats.c64.html">
                            Chats                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-chevaux.c66.html">
                            Chevaux                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-chiens.c65.html">
                            Chiens                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-dauphins.c71.html">
                            Dauphins                        </a>
                                            </div>
                                        <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/puzzle-dinosaures.c70.html">
                            Dinosaures                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-dragoons.c93.html">
                            Dragons                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-elephants.c73.html">
                            Él&eacute;phants                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-licornes.c182.html">
                            Licornes                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-loups.c67.html">
                            Loups                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-oiseaux.c69.html">
                            Oiseaux                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzles-papillons.c186.html?ordre=datedesc&np=0&limit=43#">
                            Papillons                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-tigres.c68.html">
                            Tigres                        </a>
                                            </div>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles personnalis&eacute;s" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles pour Enfants" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Moyens de transport" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzle-avions-et-objets-volants.c85.html">
                        Avions et Objets volants                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-bateaux.c37.html">
                        Bateaux                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-pompiers-police-secours.c181.html">
                        Pompiers, Police, Secours                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-tracteurs.c87.html">
                        Tracteurs                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-trains.c86.html">
                        Trains                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-voitures-motos-et-camions.c54.html">
                        Voitures, Motos et Camions                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 multiple-columns"
                    id="Puzzles Pays" style="display: none; ">
                                                                                <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/puzzle-allemagne.c136.html">
                            Allemagne                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-belgique.c159.html">
                            Belgique                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-chine.c138.html">
                            Chine                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-espagne.c141.html">
                            Espagne                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-etats-unis-et-canada.c135.html">
                            États-Unis et Canada                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-france.c134.html">
                            France                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-inde.c139.html">
                            Inde                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-italie.c146.html">
                            Italie                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-japon.c137.html">
                            Japon                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-pays-dafrique.c144.html">
                            Pays d'Afrique                        </a>
                                            </div>
                                        <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/puzzle-pays-amerique-du-sud.c145.html">
                            Pays d'Am&eacute;rique du Sud                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-pays-dasie.c143.html">
                            Pays d'Asie                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzle-autres-pays-deurope.c142.html">
                            Autres pays d'Europe                        </a>
                                            </div>
                                                        </div>
                                                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles pour les juniors" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-2-ans-2-a-10-pieces.ga606.html">
                        D&egrave;s 2 ans : Moins de 10 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-3-ans-11-a-20-pieces.ga556.html">
                        D&egrave;s 3 ans : 11 &agrave; 20 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-4-ans-21-a-30-pieces.ga607.html">
                        D&egrave;s 4 ans :  21 &agrave; 30 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-5-ans-31-a-49-pieces.ga608.html">
                        D&egrave;s 5 ans :  31 &agrave; 49 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-6-ans-50-a-100-pieces.ga609.html">
                        D&egrave;s 6 ans :  50 &agrave; 100 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-8-ans-101-a-250-pieces.ga610.html">
                        D&egrave;s 8 ans :  101 &agrave; 250 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-9-ans-251-a-399-pieces.ga611.html">
                        D&egrave;s 9 ans :  251 &agrave; 399 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-a-partir-de-10-ans-400-a-499-pieces.ga616.html">
                        D&egrave;s 10 ans :  400 &agrave; 499 pi&egrave;ces                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles pour adultes" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzle-500-a-999-pieces.c25.html">
                        de 500 &agrave; 999 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-1000-pieces.c3.html">
                        de 1 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-1500-pieces.c56.html">
                        de 1 500 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-2000-pieces.c4.html">
                        de 2 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-3000-pieces.c5.html">
                        de 3 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-puzzle-4000-a-5000-6,7.html">
                        de 4 000 &agrave; 5 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-puzzle-6000-a-54000-8,9.html">
                        de 6 000 &agrave; 54 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-accessoires-puzzle-27,28,29,30,92.html">
                        Accessoires                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Les &quot;presque&quot; Puzzles" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzles-horloges.c178.html">
                        Puzzles horloges                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-decorations-et-cadeaux.c59.html?id=59&mar=91&nix=1">
                        Puzzle calendriers et paravents                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Broderie Diamant" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles Photo" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles g&eacute;ants" style="display: none; ">
                                                                            </div>
                                                                <div class="sous-title-menu sous-title-menu3 multiple-columns"
                    id="Formats des puzzles assembl&eacute;s" style="display: none; ">
                                                                                <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/3d.ga591.html">
                            3D                        </a>
                                                <a class="sous-value-menu third-column" href="/balle.ga593.html">
                            Ball                        </a>
                                                <a class="sous-value-menu third-column" href="/cadre.ga851.html">
                            Cadre                        </a>
                                                <a class="sous-value-menu third-column" href="/carre.ga550.html#">
                            Carr&eacute;                        </a>
                                                <a class="sous-value-menu third-column" href="/puzzles-puzzle-cube.ga857.html">
                            Cube                        </a>
                                                <a class="sous-value-menu third-column" href="/eventail.ga594.html">
                            &Eacute;ventail                        </a>
                                                <a class="sous-value-menu third-column" href="/forme.ga590.html">
                            Forme                        </a>
                                                <a class="sous-value-menu third-column" href="/geant-de-sol.ga597.html">
                            G&eacute;ant de sol                        </a>
                                                <a class="sous-value-menu third-column" href="/panoramique.ga604.html">
                            Panoramique                        </a>
                                                <a class="sous-value-menu third-column" href="/pyramide.ga602.html">
                            Pyramide                        </a>
                                            </div>
                                        <div class="submenu-column">
                                                <a class="sous-value-menu third-column" href="/rond.ga587.html">
                            Rond                        </a>
                                                <a class="sous-value-menu third-column" href="/triptyque.ga603.html">
                            Triptyque                        </a>
                                                <a class="sous-value-menu third-column" href="/vertical.ga869.html">
                            Vertical                        </a>
                                            </div>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Format des pi&egrave;ces de Puzzles" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/pieces-effet-3d.ga601.html">
                        Pi&egrave;ces avec effet 3D                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-difficiles.ga614.html">
                        Pi&egrave;ces difficiles                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-magnetiques.ga840.html">
                        Pi&egrave;ces magn&eacute;tiques                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-mini.ga842.html">
                        Pi&egrave;ces mini                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-noir-et-blanc.ga615.html">
                        Pi&egrave;ces en noir et blanc                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-phosphorescentes.ga600.html">
                        Pi&egrave;ces phosphorescentes                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzles-pieces-double-face.ga880.html">
                        Pi&egrave;ces Recto-Verso                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-XXL.ga596.html">
                        Pi&egrave;ces XXL enfants                    </a>
                                        <a class="sous-value-menu third-column" href="/pieces-xxl-pour-adultes.ga1136.html">
                        Pi&egrave;ces XXL adultes                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles 3D" style="display: none; ">
                                                                            </div>
                                                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles pour enfants" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/puzzle-a-partir-de-2-ans.ga606.html">
                        &agrave; partir de 2 ans                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-a-partir-de-3-ans.ga556.html">
                        &agrave; partir de 3 ans                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-a-partir-de-4-ans.ga607.html">
                        &agrave; partir de 4 ans                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-a-partir-de-5-ans.ga608.html">
                        &agrave; partir de 5 ans                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-a-partir-de-6-ans.ga609.html">
                        &agrave; partir de 6 ans                    </a>
                                        <a class="sous-value-menu third-column" href="/puzzle-a-partir-de-8-ans.ga610.html">
                        &agrave; partir de 8 ans                    </a>
                                        <a class="sous-value-menu third-column" href="/par-ages-puzzle-a-partir-de-9-ans-610,611,616.html?ordre=top">
                        &agrave; partir de 9 ans                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles pour adultes" style="display: none; ">
                                                            <a class="sous-value-menu third-column" href="/500-a-999-pieces.c25.html">
                        de 500 &agrave; 999 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/1000-pieces.c3.html">
                        de 1 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/1500-pieces.c56.html">
                        de 1 500 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/2000-pieces.c4.html">
                        de 2 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/3000-pieces.c5.html">
                        de 3 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-4000-a-5000-6,7.html">
                        de 4 000 &agrave; 5 000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-6000-a-54000-8,9.html">
                        de 6 000 &agrave; 54000 pi&egrave;ces                    </a>
                                        <a class="sous-value-menu third-column" href="/selection-accessoires-27,28,29,30,92.html">
                        Accessoires                    </a>
                                                        </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles pour Enfants" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles Difficiles" style="display: none; ">
                                                                            </div>
                                                                <div class="sous-title-menu sous-title-menu3 "
                    id="Auteurs pour adultes" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Licences pour enfants" style="display: none; ">
                                                                            </div>
                                                                <div class="sous-title-menu sous-title-menu3 "
                    id="Tapis de Puzzles" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Cadres pour Puzzles" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Colles pour Puzzles" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Porte-puzzles et Plateaux" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Boites de tri" style="display: none; ">
                                                                            </div>
                                                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles Enfants" style="display: none; ">
                                                                            </div>
                                <div class="sous-title-menu sous-title-menu3 "
                    id="Puzzles Adultes" style="display: none; ">
                                                                            </div>
                                            </div>
        </div>
    </div>
</div>
