<!DOCTYPE html>
<html lang="fr" >
<head>
    <title>Puzzle.fr : Le N&ordm;1 avec 233.365 Puzzles en stock le mardi 08 avril 2025</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description"
          content="Le plus grand magasin de puzzles en Europe avec 233.365 puzzles en stock (au 08.04.2025). Livraison 24h/48h, Gratuite dès 39 €. Des puzzles du monde entier !"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta property="og:site_name" content="Puzzle.fr/Planet'Puzzles"/>
{% block stylesheet %}
    <link href='/puzzlefr/css/fonts-new.css' rel='stylesheet' type='text/css'>
    <link href='/puzzlefr/css/custom.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>
    <link rel="stylesheet" type="text/css" href="/puzzlefr/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/puzzlefr/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/puzzlefr/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/puzzlefr/css/jquery-ui.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/puzzlefr/css/font-awesome.css" media="screen"/>
    <link rel="StyleSheet" type="text/css" href="/puzzlefr/css/endless.css?z=1743534172">
    <link rel="stylesheet" type="text/css" href="/puzzlefr/css/show_password.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/puzzlefr/css/select2.min.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
{% endblock %}
</head>
<body id="body" class="">
{% include '@SyliusShop/header/header.html.twig' %}
{% include '@SyliusShop/header/menu.html.twig' %}
{% block body %}

{% endblock %}
</body>
</html>

