/* Pied Website */

#ServicesFooter{ width:1000px; padding:0; float:left; background-color:#f3f3f3; }
#ServicesFooter .BlocServices{width:249px; height:200px; float:left; text-align:center;padding-top:15px}
#ServicesFooter .BlocServices2{width:249px; height:200px; float:left; text-align:center;padding-top:15px}
#ServicesFooter .BlocSecure{background-position:center; background-position:top; background-repeat:no-repeat; }
#ServicesFooter .BlocSecure .paiements{ padding:10px 0 0 0; }
#ServicesFooter .BlocDelivery{background-position:center; background-position:top; background-repeat:no-repeat; }
#ServicesFooter .BlocClient{ background-position:center; background-position:top; background-repeat:no-repeat; }
#ServicesFooter .BlocAvantage{ background-position:center; background-position:top; background-repeat:no-repeat; }
.BlocServicesPosition{ padding:0px 0 0 0; }


#Footer .ContactServices{ float:left; width:1000px; height:90px; background-color:#333; border-bottom:5px solid #207ce5; }
#Footer .VosQuestions{ float:left; width:200px; border-right:1px solid #207ce5; margin-right: 10px; height:90px; }
#Footer .VosQuestions .TitleContactServices{ display:block; margin:20px 0 0 33px;}
#Footer .VosQuestions .SubTitleContactServices{ display:block; margin: 5px 0 0 38px; }

#Footer .CatFooter{ float:left; width:1000px; height:auto; border-top:1px solid #CCCCCC; background-color:#FFFFFF; }
#Footer .CatFooter ul,#Footer .ContactServices ul{ margin:0; list-style:none; float:left; }
#Footer a{ font-size:12px; }
#Footer a:hover{ text-decoration:underline; }
.TitreSousMenu{ width:998px; padding:15px 0 0 15px; float:left; }
.SizeSousMenu{ font-size:20px; }
.SizeSousMenu2{ font-size:14px; }
.ColBlock{ padding:15px 0 15px 15px; width:180px; }
.ColBlock2{ padding:15px 0 15px 15px; width:230px; }

#Legal{ width:1000px; height:50px; float: left; background-color:#f3f3f3; }
#Legal .Copyright{ display: block; float: left; padding:10px; }
#Legal ul{ margin:0; list-style:none; float:right; display:block; padding:10px; }
#Legal ul li{ display:inline; }


#footer{ clear:both; overflow:hidden; width:1000px; margin-top: 80px;  }
#footer_services{ width:980px; height:70px; padding-left:15px; }
#footer_services .footer_services_element{ float:left; width:320px; }
#footer_services .services_img{ width:58px; height:51px; float:left; margin-right:10px; }
#footer_services .services_title{ display:block; float:left; color:#0198AB; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:normal; }
#footer_services .footer_services_element .services_subtitle{ display:block; float:left; color:#666666; font-size:12px; font-weight:normal; }
#footer .limite-footer{ background-color:#e07522; width:1000px; }
#footer .fond-footer{ background-color:#2f2e2e; height:250px; }
#footer .fin-footer{ background-color:#2f2e2e;  width:1000px; padding:10px 0px; text-align:center; height:65px }
#footer .fin-footer .footerfin,.footerfin a{ color: #FFFFFF;float: left;font-size: 11px;margin-left: 384px; margin-top: 40px; }

#footer .rubrique{ float:left; width:208px; margin:0; padding:20px 19px 0px; }
#footer .rubrique dl{ margin:0;}
#footer .rubrique dl dd{ margin:0;}
#footer .rubrique .footer_titre_categorie{ float: left; clear:left; color:#ffffff; font-size:20px; font-family:Arial, Helvetica, sans-serif; margin-bottom:20px; width:150px }
.liste_categorie{ margin:0; padding:0; width:200px}
.liste_categorie a{ float:left; display:block; font-size:12px; color:#c6c6c6; line-height:17px; clear:left; }
.liste_categorie span{ float:left; display:block; font-size:12px; color:#fff; line-height:17px; clear:left; }
.liste_categorie a:hover{ color:#ee6c03; text-decoration:underline; }
.footer_font_list{ float:left; display:block; font-size:12px; color:#333333; line-height:17px; }
.lien-footer a{ font-size:14px; color:#ee6c03}
.lien-foot{ margin-right: 30px; margin-top: 10px;text-align: right;}
