/*****************************************************************************************************************************************************/
/* puzzle photo */
.titre-page-pp { margin-left:15px; float:left; width:975px;margin-bottom:25px }
.soustitre-page-pp { margin-left:-10px; float:left; width:975px; }
#titdesignation .puzzle_photo_titre {font-size: 16px; color:#ff6600; padding-left:10px; }
#titdescriptif {font-size: 12px; color:#333333 !important; padding-left:10px;  }
#pagepp .title2{color:#EE6C03; font-size:16px; font-weight:bold; margin-left:20px}
#page-puzzles{ width:900px; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#666;height:auto; padding:0 0px 20px 9px; margin-top:50px}
#page-puzzles .texte{float:left; width:900px;  color:#333333; margin:0px 0 30px 0 ; font-size:14px}

#page-puzzles .encart-choix{float:left; margin:10px 0 30px 0}
.numero{ font-weight:bold; color:#FFF; width:30px; text-align:center;float:left; margin:0 13px 0px 7px }





#page-puzzles .bloc1{float:left; height:166px; width:161px; border:1px solid #b5b5b5; margin:0px 17px 45px 0}
#page-puzzles .bloc2{float:left; height:166px; width:341px; border:1px solid #b5b5b5; margin:10px 17px 28px 0}
#page-puzzles .bloc3{float:left; height:335px; width:978px; border:1px solid #b5b5b5; margin:px; background-image:url(../images/pp/puzzle-personnalise_pack.jpg); background-repeat:no-repeat; margin-top:10px}
.bloc-titre{ height:28px; width:161px;background-image:url(../images/pp/bloc-titre.jpg); padding-top:15px}
.bloc-titre2{ height:28px; width:341px;background-image:url(../images/pp/bloc-titre.jpg); background-repeat:no-repeat; background-color:#525252; padding-top:15px}
.bloc-titre3{ height:28px; width:978px;background-image:url(../images/pp/bloc-titre.jpg); background-repeat:no-repeat; background-color:#525252; padding-top:15px;}
.puzzle_photo {font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight:bold;color:#fff;margin: 0px;text-decoration: none; float:left}
.puzzle_photo a {color:#fff}
.puzzle_photo a:hover{color:#EE6C03}

.puzzle_photo2 {font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight:bold;color:#666;margin: 0px;text-decoration: none; float:left; width:165px}


#page-puzzles .packs{float:left; height:320px; width:385px; border:1px solid #999; margin-top:30px; margin-left:13px; background-image:url(../images/pp/puzzle-personnalise_pack.jpg); background-repeat:no-repeat}

.prix_puzzle {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#EE6C03;font-weight: bold;text-decoration: none;margin: 0px; width:49px; float:left}
.prix_puzzle2 {font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#EE6C03;font-weight: bold;text-decoration: none;margin: 0px; width:57px; float:left}
.promo_puzzle2{font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#ffffff; float:left;font-weight: bold; background-color:#EE6C03; width:40px; text-align:center}


.panoramique_prix{font-family: Arial, Helvetica, sans-serif;font-size: 13px;color:#EE6C03;font-weight: bold;text-decoration: none;margin: 0px;}
.remise-prix_puzzle {font-size: 10px;font-family: Arial, Helvetica, sans-serif;margin: 0px;}
.ancien-prix_puzzle {font-size: 10px;font-family: Arial, Helvetica, sans-serif;margi-left:5px;text-decoration:line-through; width :72px; float:left}
.ancien-prix_puzzle2 {font-size: 10px;font-family: Arial, Helvetica, sans-serif;margi-left:5px;text-decoration:line-through; width :49px; float:left}

.puzzle_photo_titre {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #333333;text-decoration: none;margin-top: 10px;margin-right: 0px;margin-bottom: 0px; margin-left: 0px;}
.bouton-telechargement{ float:left; width:200px; height:35px}
.choix-taille{float:left; width:380px; height:35px; margin-top:13px; margin-left:40px}
.telechargement-image{float:left; width:450px; height:35px; margin-top:20px}
.panoramique_prix {font-family: Arial, Helvetica, sans-serif;font-size: 13px;font-weight: bold;color: #FF0000;margin-top: 1px;margin-left: 30px;margin-bottom: 0px;margin-right: 0px;}
.panoramique_prix2 {font-family: Arial, Helvetica, sans-serif;font-size: 10px;text-decoration:line-through;margin-top: 1px;margin-left: 30px;margin-bottom: 0px;margin-right: 0px;}
#div_pp_encours {display:block;border: 1px dashed #a0a0a0;background: #ffffff;height: 250px;left:50%;  margin-left: -300px;position: fixed;top: 50%;width: 600px;z-index: 100;margin-top: -100px;font-size: 16px;text-align: center;padding-top:16px;}
#div_pp_encoursfond { display:none;border: 0px;height: 100%;left:0%;position: fixed;bottom: 0%;width: 100%;z-index: 99;background: #202050;margin-top: -150px;}	
#_div_pp_view {display:block;border: 1px dashed #a0a0a0;background: #ffffff;height: 640px;left:50%;margin-left: -300px;position: fixed;top: 50%;width: 600px;z-index: 100;margin-top: -320px;font-size: 16px;text-align: center;padding-top:16px;}
#div_pp_view {display:block;border: 1px dashed #a0a0a0;background: #ffffff;height: 640px;margin-left: auto; margin-right:auto;position: absolute;width: 600px;z-index: 100;font-size: 16px;text-align: center;padding-top:16px;}
#div_pp_viewfond { display:none;border: 0px;height: 100%;left:0%;position: fixed;bottom: 0%;
width: 100%;z-index: 99;background: #202050;margin-top: -150px;}	
img.pourcent { background: #ffffff url(/images/pourcent.jpg) top left no-repeat; background-position: 0 0;}	

div.ligne_association{ margin:2px; padding:2px; overflow:hidden; }
div.checkbox{ float:left; width:25px; height:25px; text-align:center; line-height:30px; vertical-align:middle; }
div.contenu_association{ float:left; overflow:hidden; }

div.nom_association{ float:left; width:250px; line-height:25px; }
div.prix_association{ float:left; width:50px; text-align:right; height:25px; line-height:28px; vertical-align:middle; color:#9c0; }
div.prix_association strong{ font-size:12px; }
span.rupture_association{ clear:left; color:#f00; font-size:8px; }
div.asso_total{ overflow:hidden; width:325px; border-top:1px solid #aaa; margin:8px; padding:5px 0; line-height:40px; vertical-align:middle; }
#total_gamme{ float:right; font-size:16px; color:#EE6C03; }


#leftcol {margin-top:16px; }
#rightcol { border:0px; margin-left:16px; margin-top:16px; min-height:318px; padding:0px !important;}
#rightcol p{ border:1px solid #333333; color:#fff; background-color:#333333; padding:5px; margin:0px !important;}
#rightcol a{ color:#333333; font-size:11px; padding-left:10px}
#rightcol a:hover{ color:#EE6C03}


.bloc-prix-pp{float: left; width: 163px;}
.dimension-pp{ color: #666666;font-size: 11px;}
.titre-packs{ color:#fe7a25; font-size:15px; font-weight:bold}
.bloc1-packs{ float:left; width:625px; margin-top:30px;margin-left:10px;}
.bloc2-packs{ float:left;width:320px; margin-left:5px; margin-top:30px}
.bloc-titre-pack1{height:28px; width:625px;background-image:url(../images/pp/bloc-titre2.jpg); padding-top:15px}
.bloc-titre-pack2{height:28px; width:330px;background-image:url(../images/pp/bloc-titre2.jpg); padding-top:15px}

/*****************************************************************************************************************************************************/
/* puzzle photo */
#page-puzzles2 .titre { margin-top:20px; float:left; width:485px;height:30px; margin:7px;}
#page-puzzles2 .titre-intro {color:#666666; font-size:22px; height:30px; float:left; margin:0 15px}
#page-puzzles2 .tiret {background-color:#F60; height:2px; width:148px; float:left; margin:15px 0 0 5px}
#page-puzzles2 .tiret2 {background-color:#F60; height:2px; width:79px; float:left; margin:15px 0 0 5px}
#page-puzzles2 .titre-gris{ height:19px; background-color:#e2e2e2; color:#666666; width:459px; text-align:center; font-size:17px; padding:9px; margin-top:5px;margin-bottom:20px; float:left}
#page-puzzles2 .bloc { width:477px;height:935px; float:left; margin:10px; border-radius:10px; border:1px solid #cccccc; margin-bottom:150px}

#page-puzzles2 .bloc2 { width:600px;height:498px; float:left; margin:10px; border-radius:10px; border:1px solid #cccccc; margin-bottom:150px; overflow:auto}
#page-puzzles2 .bloc3 { width:350px;height:513px; float:left; margin:10px; border-radius:10px; border:1px solid #cccccc; margin-bottom:150px}
#page-puzzles2 .bloc2 .img-naiss{ float:left; height:165px; width:180px; color:#666666; text-align:right; margin-left:13px}

#page-puzzles2 .bloc .txt-intro{ height:105px; width:400px; font-size:14px; color:#666; padding:25px; padding-bottom:0px}
#page-puzzles2 .bloc .titre-pp{width:208px; float:left; margin-left:168px;line-height:35px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#666666; margin-top:10px}
#page-puzzles2 .bloc .prix-pp{height:400px; width:89px; float:right; margin-right:10px;line-height:35px; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#F60; margin-top:10px; text-align:right}
#page-puzzles2 .bloc .prix-pp-avant{font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#666666; margin-right:5px; text-decoration:line-through}
#page-puzzles2 .bloc .pp-perso { background-image:url(/images/couple-puzzle.jpg); height:510px; width:475px; float:left}
#page-puzzles2 .bloc .orange{ color:#F60; font-weight:bold}

#page-puzzles2 .img-choix{float:left; top:3px;position:relative; height:20px; width:30px}
#page-puzzles2 .select-quantite{float:left; top:3px; background-color:#ffffff;position:relative; height:19px; width:195px;margin-left:15px }
#page-puzzles2 .quantite-puzzle{float:left;color:#666666;padding:3px 5px 0 5px;}

#page-puzzles2  a.boutond { background-color: #FE7E15;   border-radius: 6px; color: #FFFFFF;  float: right; font-weight: 600; margin-top:100px; margin-right:20px; padding: 6px; text-align: center;width: 130px;


