/* Cube souscategorie */
#sc_header{ float:left; width:618px; clear:left }
#sc_cubes{ margin:0; padding:8px 0 0 4px; }

#sc_cubes .cube_souscategorie{ width:140px; border:1px solid #CCCCCC; float:left; margin:0 .6em; margin-bottom:8px; margin-left:0; }
#sc_cubes .cube_souscategorie:hover { border-color:#F60; }
#sc_cubes .cube_souscategorie .contenu{ width:140px; }
#sc_cubes .cube_souscategorie .contenu .image{ text-align:center; padding:.2em; margin-bottom:.8em; }
#sc_cubes .cube_souscategorie .contenu .image a img{ border:0; width:auto; height:80px; }
#sc_cubes .cube_souscategorie .contenu .nom{ text-align:center; height:50px; margin:5px; font-size:10px;}
#sc_cubes .cube_souscategorie .contenu .nom a{font-family:Arial; color:#333333;}
#sc_cubes .cube_souscategorie .contenu:hover > .nom a{ color:#F60; }
#sc_cubes .cube_souscategorie .contenu .nom .designation_produit_cube_souscategorie{font-size:11px; font-weight:normal !important; margin:0;}
/*
#sc_cubes  .cube_souscategorie{ width:148px; height:164px;border:0px; margin:0 5px 0 0; padding:0}
#sc_cubes .cube_souscategorie:hover { border-color:none; }
#sc_cubes .cube_souscategorie .contenu{ width:143px; border:1px solid #cccccc }
#sc_cubes .cube_souscategorie .contenu .image{ text-align:center; padding:0 ; margin:0 0 0 4px ;position:relative}
#sc_cubes .cube_souscategorie .contenu .image a img{ border:0;}
#sc_cubes .cube_souscategorie .contenu .image .picto-new{ height:24px; width:38px; position:absolute}
#sc_cubes .cube_souscategorie .contenu .nom{ text-align:left; margin:0px 0 0px 0px; font-size:10px; width:139px;height:32px; background-color:#efefef; padding:0 2px }
#sc_cubes .cube_souscategorie .contenu .nom a{font-family:Arial; color:#333333;}
#sc_cubes .cube_souscategorie .contenu:hover > .nom a{ color:#F60;  }
#sc_cubes .cube_souscategorie .contenu .nom .designation_produit_cube_souscategorie{font-size:11px; margin:0;}
#sc_cubes .cube_souscategorie .nbre-prod{ text-align:center; margin:20px 2px 2px 2px; font-size:10px}
#sc_cubes .cube_souscategorie .nbre-prod a{ color:#333333}
*/
/* Listes souscategorie */
#sc_listes{ height:auto; margin:30px 5px 0px 2px; padding:0 0 15px 0px; overflow:hidden;width: 610px; border:1px solid #cccccc }

#sc_listes H2{ font-size:14px; height:24px; font-weight:bold; padding:8px 10px 0px 20px; color:#f60; margin:0; background-color:#efefef}
#sc_listes .liste_souscategorie{width:280px; float:left; padding:5px 0 0 5px}
#sc_listes .liste_souscategorie H3{font-size:12px; color:#333333; font-weight:normal !important; margin:0 0 0 5px; display:inline-block }
#sc_listes .liste_souscategorie H3:hover{color:#F60}
#sc_listes .liste_souscategorie .bulle{float:left; height:3px; width:3px;  margin:6px 0 0 10px; background-image:url(/images/bullle.jpg) }
#sc_listes .liste_souscategorie .titre{ float:left}
.footer-liste{ height:11px; margin-left:2px; clear:left; }

/* Right */
#sc_right{ width:175px; float:right; margin-right:5px}
#sc_right .image{width:110px; height:110px; margin-left:30px}
#sc_right .image img{ border:none}
#sc_right .spec{text-align:center; width:170px;font-size:10px}
#sc_right .spec a{color:#333333; font-size:10px}
#sc_right  H2{ font-weight:normal; padding:0 3px; margin:0; font-size:11px}
#sc_right .titre{text-align:center; width:170px;font-size:14px; font-weight:bold;color:#F60; padding: 5px 0; height:23px; background-color:#efefef }
.footer-droite{width:170px ;height:0;}
#sc_right .right_scheadertop {width:170px; border:1px solid #cccccc; margin-top:8px; min-height:317px}
#sc_right .right_sctop {width:170px}
#sc_right .right_scheadernew {width:170px; border:1px solid #cccccc;margin-top:8px; min-height:317px}
#sc_right .right_scnew{width:170px;}

.recherche-cat .search {display: block;height:30px;vertical-align: middle; margin:0; padding:0; float:left}
.recherche-cat .search input {margin: 0px 6px 0px 0px ;color:#306}
.recherche-cat .recherche{float:left;}

#sc_encart{width:170px; margin:10px 0 }


/* Header */
/*#header-playmo{ position:relative; height:200px; width:787px; margin:7px 0 20px 5px; background-image:url(/images/cat-playmo/header-cat-playmo.jpg); background-repeat:no-repeat}*/
#header-playmo{ height:200px; width:787px; margin:7px 0 20px 5px; background-image:url(/images/cat-playmo/header-cat-playmo.jpg)}
#header-playmo H3{ color:#FFF; font-size:26px; font-weight:bold; margin:0; padding:0 0 0 10px; float:left; height:35px; width:787px}
/*#header-playmo .intro{ position:absolute; top:57px; left:395px; color:#306; font-size:12px; width:287px; height:105px }*/
#header-playmo .intro{ color:#306; font-size:12px; margin:25px 0 0 395px;width:287px; height:105px; float:left}





