<div class="container " style="max-width: 1220px;background-color:#ffffff">
	<div class="row pourmob-mar" style="text-align:center;margin:64px 0">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;margin-bottom:32px">
			<h4 class="font-titre">Besoin d’aide ?</h4>
		</div>
		<div style="max-width:695px; margin:0 auto;">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-ques" onclick="toggleAccordeonFaq(this)">
				<h5 class="font-sstitre title-faq" style="float:left">
					Que faire s’il me manque une pièce de puzzle ?
				</h5>
				<button style="float:right;border: none;background: none;"><img alt="" src="/_themes/puzzlethemes/fr/images/add-circle.svg" style="border:0px;cursor:pointer" width="24" height="24"></button>
				<small class="text-small-faq" style="max-height: 0px;">
					<div class="spac-ti">
						Tous les fabricants produisent leurs puzzles avec le plus grand soin, mais il peut quand même arriver qu'il vous manque une pièce. Chaque fabricant a sa propre procédure à cet égard :
						<a href="/pieces-de-puzzle-manquantes.html" tabindex="-1">https://www.puzzle.fr/pieces-de-puzzle-manquantes.html</a>
					</div>
				</small>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-ques" onclick="toggleAccordeonFaq(this)">
				<h5 class="font-sstitre title-faq" style="float:left">
					Comment créer mon puzzle personnalisé ?
				</h5>
				<button style="float:right;border: none;background: none;"><img alt="" src="/_themes/puzzlethemes/fr/images/add-circle.svg" style="border:0px;cursor:pointer" width="24" height="24"></button>
				<small class="text-small-faq" style="max-height: 0px;">
					<div class="spac-ti">
						Dans l'onglet “Puzzles photo”, choisissez le format de votre puzzle ainsi que votre photo, redimensionnez le cadrage, choisissez votre boîte et procédez au paiement. Le tour est joué !
					</div>
				</small>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-ques" onclick="toggleAccordeonFaq(this)">
				<h5 class="font-sstitre title-faq der-ques" style="text-align:left; float:left">
					Proposez-vous des options d'expédition à l’international ?
				</h5>
				<button style="float:right;border: none;background: none;"><img alt="" src="/_themes/puzzlethemes/fr/images/add-circle.svg" style="border:0px;cursor:pointer" width="24" height="24"></button>
				<small class="text-small-faq" style="max-height: 0px;">
					<div class="spac-ti">
						La livraison vers de nombreux pays est tout à fait possible. Il suffit de renseigner votre adresse au moment du choix de la livraison. Les frais de port seront automatiquement recalculés en fonction du poids et de la destination de votre commande.
						<div class="space-height">
							Si la livraison n'est pas possible, un message vous l'indiquera.
						</div>
					</div>
				</small>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-ques" onclick="toggleAccordeonFaq(this)">
				<h5 class="font-sstitre title-faq" style="float:left">
					Quels sont vos délais de livraison ?
				</h5>
				<button style="float:right;border: none;background: none;"><img alt="" src="/_themes/puzzlethemes/fr/images/add-circle.svg" style="border:0px;cursor:pointer" width="24" height="24"></button>
				<small class="text-small-faq" style="max-height: 0px;">
					<div class="spac-ti">
						Selon votre mode de livraison, les délais sont les suivants :
						<br>
						<div class="puce-hel"></div>
						<div style="float:left">
							Chronopost : 24h
						</div>
						<br>
						<div class="puce-hel"></div>
						<div style="float:left">
							Colissimo : 24h/48h
						</div>
						<br>
						<div class="puce-hel"></div>
						<div style="float:left">
							Mondial Relay : 8 jours
						</div>
						<br>
						<div class="puce-hel"></div>
						<div style="float:left">
							Canada, USA, Australie : 2 mois et demi
						</div>
						<br>
						<div class="space-height">
							Nous tenons à vous rassurer, les commandes à destination du Canada, des États-Unis et de l’Australie sont expédiées par bateau et peuvent nécessiter actuellement jusqu'à 2 mois et demi pour arriver à destination. Il est donc normal que pendant la traversée, le suivi de votre commande ne soit pas modifié. Ce dernier reprendra lorsque votre colis aura touché terre.
						</div>
					</div>
				</small>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-ques" onclick="toggleAccordeonFaq(this)" style="border-bottom:0">
				<h5 class="font-sstitre title-faq" style="float:left;width: 90%;text-align: left;margin-bottom: 8px;">
					Illustrateurs ou photographe : Je souhaite proposer mes visuels pour créer des puzzles
				</h5>
				<button style="float:right;border: none;background: none;"><img alt="" src="/_themes/puzzlethemes/fr/images/add-circle.svg" style="border:0px;cursor:pointer" width="24" height="24"></button>
				<small class="text-small-faq" style="max-height: 0px;">
					<div class="spac-ti">
						Si vous souhaitez soumettre votre travail pour la création de puzzles, vous pouvez contacter notre Responsable Communication à l’adresse mail suivante :
						<a tabindex="-1" style="font-weight:600;color:#359AA5; background-color:#ffffff" href="mailto:visuels@alize-group.com">visuels@alize-group.com</a>
						<!--
						<img alt="" src="/_themes/puzzlethemes/fr/images/mob-alexandra-mail.jpg" style="border:0px;float:left" class="appmob"/>
						<img alt="" src="/_themes/puzzlethemes/fr/images/web-alexandra-mail.jpg" style="border:0px;float:left" class="disp"/>
						-->
					</div>
				</small>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 maar-g" style="min-height:0px;padding:0;">
			<a href="/besoin-aide.html" class="btn-sec" style="">
				<div style="float:left">
					Découvrez toutes les questions
				</div>
				<div style="float:left">
					<img id="arrow-image" alt="" src="/_themes/puzzlethemes/fr/images/nav-arrow-right.svg" style="border:0px;cursor:pointer" width="19" height="19" class="">
				</div>
			</a>
		</div>
	</div>
</div>


