<div class="div_footer_mobile" style="background:#162E36;margin:0 auto; text-align:center">

    <img style="margin:0 auto; width:132px; text-align:center; margin-top:64px" title="Puzzle.fr" alt="Puzzle.fr" src="/_themes/puzzlethemes/fr/images/logo-foot.svg">
    <div style=" width: 64px;height: 1px;align-items: center; margin:32px auto; background-color:#ffffff; "></div>
    <div style="color:#FFF;text-align: center;font-size: 16px;font-style: normal;font-weight: 700;margin-bottom:18px">
        À propos
    </div>
    <ul style="width:100%; list-style:none; margin:0; padding:0; display:block;float:left">
        <li><a href="/infos/?pg=legal" class="lifootmob">Informations légales </a></li>
        <li><a href="/infos/?pg=utilisation" class="lifootmob">Conditions d'utilisation</a></li>
        <li>
            <a href="/infos/?pg=confidentialite" class="lifootmob">Confidentialité &amp; Protection<br>des Données</a>
        </li>
        <li><a href="/infos/?pg=cgv" class="lifootmob">Conditions de vente</a></li>
        <li><a href="/catalogue/plan.php" class="lifootmob">Plan du site</a></li>
        <li><a href="/infos/?pg=qui" class="lifootmob">Qui sommes-nous ?</a></li>
        <li><a href="/blog/" class="lifootmob">Retrouvez notre blog</a></li>
        <li><a href="/provenance.html" class="lifootmob">Lieu de fabrication </a></li>
        <li><a href="/besoin-aide.html" class="lifootmob">Besoin d'aide ? </a></li>
    </ul>
    <div style="clear:both;"></div>

    <div style=" margin:0 auto; max-width:85px; margin-top:32px">
        <a href="https://www.facebook.com/planet.puzzles/?locale=fr_FR" style="float:left; margin-right:10px" target="_blank">
        <img alt="" src="/_themes/puzzlethemes/fr/images/facebook.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="36" height="36">
        </a>
        <a href="https://www.instagram.com/puzzle.frofficiel/?hl=fr" style="float:left" target="_blank">
        <img alt="" src="/_themes/puzzlethemes/fr/images/instagram.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="36" height="36">
        </a>
    </div>

    <div style="clear:both;"></div>
    <div style="clear:left; width: 64px;height: 1px;align-items: center; margin:32px auto; background-color:#ffffff; "></div>
    <div style="clear:both;"></div>
    <div style="color:#FFF;text-align: center;font-size: 16px;font-style: normal;font-weight: 700;margin-bottom:18px">
        Nos sites
    </div>
    <ul style="width:100%; list-style:none; margin:0; padding:0; display:block;float:left">
        <li>
            <a href="https://www.puzzle.de" class="lifootmob" target="_blank">Allemagne : <u>www.puzzle.de</u></a>
        </li>
        <li>
            <a href="https://www.puzzle.at" class="lifootmob" target="_blank">Autriche :<u>www.puzzle.at</u></a>
        </li>
        <li>
            <a href="https://www.puzzle.be" class="lifootmob" target="_blank">Belgique :<u>www.puzzle.be</u></a>
        </li>
        <li>
            <a href="https://www.jigsawpuzzle.co.uk" class="lifootmob" target="_blank">Royaume Uni :<u>www.jigsawpuzzle.co.uk</u></a>
        </li>
    </ul>

    <div style="clear:both;"></div>
    <a title="Accès Revendeur" rel="nofollow" class="btn-footrev" href="https://www.puzzle-france.com/" target="blank_">
        <div style="float:left;">
        <img src="/_themes/puzzlethemes/fr/images/community.svg" alt="Accès Revendeur" style="border:0px;" height="24px" width="24px">
        </div>
        <div style="float:left;"><span style="color:#FFF;" class="acces-r">
            Accès revendeurs / détaillants
        </span>
        </div>
    </a>

    <div style="clear:both;"></div>
        <div style="color:#ffffff; font-size:12px">Vous avez un magasin ?
            <br>
            Vous souhaitez accéder à nos prix revendeurs ?
        </div>
        <div style="clear:both;"></div>
        <p class="mentions" style="clear:left; margin:0; margin-top:36px">Puzzle.fr 2025</p>
</div>

{# deux div a verifier here #}
<div class="div_footer_web" style="background:#162E36;">
    <div class="container" style="margin: 0 auto;max-width: 1160px;">
    <div class="row" style="margin :0; padding-top:22px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-picto-footer typo" style="min-height:0px;">
            <div style="float:left">
                <img style="margin:0 auto; width:165px; margin-top:12px" alt="Puzzle.fr" title="Puzzle.fr" src="/_themes/puzzlethemes/fr/images/logo-foot.svg">
            </div>
            <div style="float:right">
                <a title="Accès Revendeur" rel="nofollow" class="btn-footrev" style="max-width:250px; margin-top:12px" href="https://www.puzzle-france.com/" target="blank_">
                    <div style="float:left;">
                        <img src="/_themes/puzzlethemes/fr/images/community.svg" alt="Accès Revendeur" style="border:0px;" height="24px" width="24px">
                    </div>
                    <div style="float:left;">
                        <span style="color:#FFF;">Accès revendeurs / détaillants</span>
                    </div>
                </a>
            </div>
            <div style="float:right;text-align: right;font-family: Inter;font-size: 12px;font-style: normal;-weight: 400;line-height: 14px;color:#ffffff; margin-top:18px; margin-right:14px">
                Vous avez un magasin ?
                <br>
                Vous souhaitez accéder à nos prix revendeurs ?
            </div>
        </div>

{# statrt menu footer#}

<div style="float:left; width: 100%;height: 1px;align-items: center; margin:12px auto; background-color:#ffffff;margin-bottom:40px "></div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-picto-footer typo" style="min-height:0px;">
        <ul style="list-style:none; margin:0; padding:0; display:block;float:left" class="title-footer">
            <li style="line-height: 81%; margin-bottom:24px">Catégories</li>
            <li><a href="/selection-puzzle-animaux-61,105,63,62,64,66,65,73,69,68,72.html?ordre=top"> Puzzles d'Animaux</a></li>
            <li><a href="/selection-puzzle-art-adultes-enfants-42,132.html?ordre=top"> Puzzles d'Art</a></li>
            <li><a href="/puzzles-cottages-et-chalets.c40.html"> Puzzles Cottages et Châlets</a></li>
            <li><a href="/puzzles-montagnes.c32.html"> Puzzles Montagnes</a></li>
            <li><a href="/puzzles-monuments.c36.html"> Puzzles Monuments</a></li>
            <li><a href="/puzzles-villes-et-villages.c35.html"> Puzzles Villes et Villages</a></li>
            <div style="float:left; width: 100%;height: 1px;align-items: center; margin:12px 0 8px 0; background-color:#ffffff;"></div>
            <li><a href="/selection-accessoires-pour-puzzles-27,28,30,29,92.html?ordre=top"> Accessoires pour Puzzles</a></li>
            <li><a href="/puzzle-3d.ga591.html?ordre=top"> Puzzles 3D</a></li>
            <li><a href="/made-in-france.ga1111.html" style="color:#ffffff"> Puzzles fabriqués en France</a></li>
            <li class="lien-footer" style="margin-top:21px"><a href="/themes.html"> Toutes&nbsp;les&nbsp;Catégories</a></li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-picto-footer typo" style="min-height:0px;">
        <ul style="list-style:none; margin:0; padding:0; display:block;float:left" class="title-footer">
            <li style="line-height: 81%; margin-bottom:24px">Tailles</li>
            <li><a href="/selection-puzzles-2-a-99-pieces-13,14,15,16.html?ordre=top"> Puzzles 2 à 99 pièces</a></li>
            <li><a href="/selection-puzzles-100-a-199-pieces-17,18.html?ordre=top"> Puzzles 100 à 199 pièces</a></li>
            <li><a href="/puzzles-de-200-a-499-pieces.c19.html"> Puzzles 200 à 499 pièces</a></li>
            <li><a href="/puzzles-500-a-999-pieces.c25.html"> Puzzles 500 à 999 pièces</a></li>
            <li><a href="/puzzles-1000-pieces.c3.html"> Puzzles 1 000 pièces</a></li>
            <li><a href="/puzzles-1500-pieces.c56.html"> Puzzles 1 500 pièces</a></li>
            <li><a href="/puzzles-2000-pieces.c4.html"> Puzzles 2 000 pièces</a></li>
            <li><a href="/puzzles-3000-pieces.c5.html"> Puzzles 3 000 pièces</a></li>
            <li><a href="/selection-puzzles-de-4000-a-9000-pieces-6,7,8.html?ordre=top"> Puzzles 4 000 à 9 000 pièces</a></li>
            <li><a href="/puzzles-10000-a-54000-pieces.c9.html"> Puzzles 10 000 à 54 000 pièces</a></li>
            <li class="lien-footer" style="margin-top:18px"><a href="/pieces.html"> Toutes&nbsp;les&nbsp;tailles</a></li>
        </ul>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-picto-footer typo">
        <div style="margin-left:25px;">
            <div>
                <ul style="list-style:none; margin:0; padding:0; display:block;float:left" class="title-footer">
                    <li style="line-height: 81%; margin-bottom:24px">Marques</li>
                    <li><a href="/art-puzzle"> Art Puzzle</a></li>
                    <li><a href="/bluebird-puzzle"> Bluebird Puzzle</a></li>
                    <li><a href="/castorland"> Castorland</a></li>
                    <li><a href="/clementoni"> Clementoni</a></li>
                    <li><a href="/outset-media-cobble-hill"> Cobble Hill</a></li>
                    <li><a href="/cubic-fun"> Cubic Fun</a></li>
                    <li><a href="/dtoys"> D-Toys</a></li>
                    <li><a href="/educa"> Educa</a></li>
                    <li><a href="/eurographics"> Eurographics</a></li>
                    <li><a href="/grafika"> Grafika</a></li>
                    <li class="lien-footer" style="margin-top:18px"><a href="/marques.html"> Toutes&nbsp;les&nbsp;marques</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-picto-footer typo">
	<div style="margin-left:25px;">
		<div>
			<ul style="list-style:none; margin:0; padding:0; display:block;float:left" class="title-footer">
				<li style="line-height: 81%; margin-bottom:24px">À propos</li>
				<li><a href="/infos/?pg=legal"> Informations légales</a></li>
				<li><a href="/infos/?pg=utilisation"> Conditions d’utilisation</a></li>
				<li style="line-height: 16px"><a href="/infos/?pg=cgv"> Confidentialités &amp; protections des données</a></li>
				<li><a href="/infos/?pg=cgv"> Conditions de vente</a></li>
				<li><a href="/catalogue/plan.php"> Plan du site</a></li>
				<li><a href="/infos/?pg=qui"> Qui sommes nous ? </a></li>
				<li><a href="/blog/"> Retrouvez notre blog</a></li>
				<li><a href="/provenance.html" class="lifootmob">Lieu de fabrication </a></li>
				<li><a href="/besoin-aide.html" class="lifootmob">Besoin d'aide ? </a></li>
				<!--
				<li><a href="/pieces-de-puzzle-manquantes.html " class="lifootmob"> Pièces de puzzle manquantes ? </a></li>
				-->
				<li style="margin-bottom:0">
					<div style=" margin:0 auto; margin-top:64px">
						<a href="https://www.facebook.com/planet.puzzles/?locale=fr_FR" style="float:left; margin-right:10px" target="_blank"><img alt="facebook" title="facebook" src="/_themes/puzzlethemes/fr/images/facebook.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="24" height="24"></a>
						<a href="https://www.instagram.com/puzzle.frofficiel/?hl=fr" style="float:left" target="_blank"><img title="Instagram" alt="Instagram" src="/_themes/puzzlethemes/fr/images/instagram.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="24" height="24"></a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

{# end menu footer #}

{# start nos sites #}
<div style="float:left; width: 100%;height: 1px;align-items: center; margin:40px 0 40px 0; background-color:#ffffff; "></div>
        <div style="float:left;color:#ffffff ">
            <div class="title-footer">
                Nos sites
            </div>
        </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " style="padding: 0; margin:0;color: var(--White, #FFF);font-family: Inter;font-size: 16px;font-style: normal;font-weight: 400;line-height: 16px; ">
            <div class="col-xs-6  col-sm-6 col-md-3 col-lg-3 " style="padding: 0; margin:0">
                <a href="https://www.puzzle.de/" target="_blank" style="color:#ffffff">Allemagne : <u>www.puzzle.de</u></a>
            </div>
            <div class="col-xs-6  col-sm-6 col-md-3 col-lg-3 " style="padding: 0; margin:0">
                Autriche :
                <a href="https://www.puzzle.at/" target="_blank" style="color:#ffffff"><u>www.puzzle.at</u></a>
            </div>
            <div class="col-xs-6  col-sm-6 col-md-3 col-lg-3 " style="padding: 0; margin:0">
                Belgique :
                <a href="https://www.puzzle.be/" target="_blank" style="color:#ffffff"><u>www.puzzle.be</u></a>
            </div>
            <div class="col-xs-6  col-sm-6 col-md-3 col-lg-3 " style="padding: 0; margin:0; text-align:right">
                Royaume Uni :
                <a href="https://www.jigsawpuzzle.co.uk/" target="_blank" style="color:#ffffff"><u> jigsawpuzzle.co.uk</u></a>
            </div>
    </div>
    </div>
{# a verifier #}
</div>
</div>
{# a verifier #}

    <div class="div_footer_web" style="background:#162E36; padding-top:40px">
        <div class="container" style="margin: 0 auto;max-width: 1220px;">
            <div class="row" style="text-align:center;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-picto-footer" style="min-height:0px;">
                    <p class="mentions" style="margin-top:0px">
                        © Puzzle.fr  2025 - Tous droits réservés
                    </p>
                </div>
            </div>
        </div>
    </div>

{# end nos sites #}
