<div style="background:#FF780F;" class="disp">
	<div class="container" style="margin: 0 auto;max-width: 1160px;">
		<div class="row" style="text-align:center;margin :0 ">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 case-foot" style="min-height:0px;padding:0;">
				<a title="Livraison rapide" href="/infos/?pg=espace-informations&amp;block=modes-livraison" class="case-foot2" style="float:left; padding:32px 0px!important; width:100%; margin:0 auto">
					<div class=" typo ">
						<img alt="" src="/_themes/puzzlethemes/fr/images/rocket.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="32" height="32">
						<br>
						<h4 class="ti-sfoo">LIVRAISON RAPIDE</h4>
						<div class="ti-ssfoo">
							Adaptée à toutes les destinations
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 case-foot" style="min-height:0px;padding:0;">
				<a title="PAIEMENTS SÉCURISÉS" href="/infos/?pg=espace-informations&amp;block=paiement-securise" class="case-foot2" style="float:left; padding:32px 0px!important; width:100%; margin:0 auto">
					<div class=" typo ">
						<img alt="" src="/_themes/puzzlethemes/fr/images/card-security-blanc.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="32" height="32">
						<br>
						<h4 class="ti-sfoo">PAIEMENTS SÉCURISÉS</h4>
						<div class="ti-ssfoo">
							Transferts sécurisés par cryptage SSL
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 case-foot" style="min-height:0px;padding:0;">
				<a title="AVANTAGES FIDÉLITÉ" href="/infos/?pg=espace-informations&amp;block=programme-fidelite" class="case-foot2" style=" float:left; padding:32px 2px!important; width:100%; margin:0 auto">
					<div class=" typo ">
						<img alt="" src="/_themes/puzzlethemes/fr/images/user-star-blanc.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="32" height="32">
						<br>
						<h4 class="ti-sfoo">AVANTAGES FIDÉLITÉ</h4>
						<div class="ti-ssfoo">
							Des réductions toute l’année
						</div>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 case-foot" style="min-height:0px;padding:0;">
				<a title="SERVICE CLIENT" href="/infos/?pg=espace-informations&amp;block=service-client" class="case-foot2" style=" float:left; padding:32px 2px!important; width:100%; margin:0 auto">
					<div class=" typo ">
						<img alt="" src="/_themes/puzzlethemes/fr/images/mail-blanc.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="32" height="32">
						<br>
						<h4 class="ti-sfoo">SERVICE CLIENT</h4>
						<div class="ti-ssfoo">
							Contactez-nous
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div style="background:#FF780F;" class="appmob">
	<div class="row" style="text-align:center;">
		<div style="border-right:1px solid#ffffff; border-bottom:1px solid#ffffff;float:left; width:50%; height:155px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;margin-top:10px">
				<a title="Livraison rapide" href="/infos/?pg=espace-informations&amp;block=modes-livraison" style="padding:0 16px">
					<div class=" typo">
						<img alt="" src="/_themes/puzzlethemes/fr/images/rocket.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="38" height="38">
						<br>
						<h4 class="ti-sfoo">LIVRAISON RAPIDE</h4>
						<p class="ti-ssfoo">
							Adaptée à toutes les destinations
						</p>
					</div>
				</a>
			</div>
		</div>
		<div style="border-bottom:1px solid#ffffff; float:left; width:49%; height:155px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;margin-top:10px">
				<a title="Paiements sécurisés" href="/infos/?pg=espace-informations&amp;block=paiement-securise" style="padding:0 16px">
					<div class=" typo">
						<img alt="" src="/_themes/puzzlethemes/fr/images/card-security-blanc.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="38" height="38">
						<br>
						<h4 class="ti-sfoo">PAIEMENTS SÉCURISÉS</h4>
						<p class="ti-ssfoo">
							Transferts sécurisés par cryptage SSL
						</p>
					</div>
				</a>
			</div>
		</div>
		<div style="border-right:1px solid#ffffff; float:left; width:50%; height:155px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;margin-top:10px">
				<a title="Paiements sécurisés" href="/infos/?pg=espace-informations&amp;block=programme-fidelite" style="padding:0 16px">
					<div class=" typo">
						<img alt="" src="/_themes/puzzlethemes/fr/images/user-star-blanc.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="38" height="38">
						<br>
						<h4 class="ti-sfoo">AVANTAGES FIDÉLITÉ</h4>
						<p class="ti-ssfoo" style="padding:0 16px">
							Des réductions toute l’année
						</p>
					</div>
				</a>
			</div>
		</div>
		<div style="float:left; width:49%; height:155px">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;margin-top:10px">
				<a title="Service client" href="/infos/?pg=espace-informations&amp;block=service-client" style="padding:0 16px">
					<div class=" typo">
						<img alt="" src="/_themes/puzzlethemes/fr/images/mail-blanc.svg" style="border:0px;cursor:pointer;margin-bottom:6px" width="38" height="38">
						<br>
						<h4 class="ti-sfoo">SERVICE CLIENT</h4>
						<p class="ti-ssfoo">
							Contactez-nous
						</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div style="clear:both"></div>
