<div style="background:#2B6673;margin-top:64px">
	<div class="container" style="max-width: 1120px;">
		<div class="row " style="text-align:center;margin:64px 0">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;">
				<a title="Inscription Newsletter" style="color:#ffffff;">
					<div class=" typo">
						<div class="ti-news-t">
							Inscription Newsletter
						</div>
						<p style="margin-bottom:32px" class="txt-news">
							Vous êtes la pièce manquante de notre puzzle !
							<br>
							Recevez les dernières informations directement dans votre boîte mail (promotions, nouveautés…)
						</p>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0; margin:0">
							<div style="text-align:center; margin: 0 auto; max-width:500px">
								<form id="newsletter-form" class="js_form" method="post" action="" style="margin:0" autocomplete="off">
									<input type="hidden" name="nl" value="inscription" autocomplete="off">
									<div class="insc-new" style="display: flex;flex-direction: column;gap: 8px;">
										<input type="text" placeholder="Adresse mail" class="champ-mail InputMail flft js_email bbt-n input-focused" onfocus="if(this.value=='Adresse mail') {this.value=''}" name="nl_email" style="" autocomplete="off">
										<div class="error-message" style="text-align: left;color: var(--International-Orange-800, #9E360E);border-radius: 4px;padding: 8px 23px;box-sizing: border-box;background: var(--International-Orange-100, #FFEED4); ;display:none;"></div>
										<div id="confirmation-message" style="text-align: left;color: green;border-radius: 4px;padding: 8px 23px;box-sizing: border-box;background: #E0FFE0; display:none;">
											Inscription réussie !
										</div>
									</div>
									<div class="insc-new">
										<div class="" style="clear:left">
											<input class="SubmitMail btn-new-fr taillty" type="submit" value="Je m'inscris" alt="Je m'inscris" autocomplete="off">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<div style="clear:both"></div>
