<div class="row haut-r">
    <div class="disp">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="min-height:0px;padding:0;">
            <div style="padding-right:11px">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font24" style="min-height:0px;padding:0;z-index:0"> Puzzles Adultes </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 margpad" style=";margin-top:32px">
                    <div class="blocage">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/500-a-999-pieces.ga740.html?ordre=top&amp;np=0&amp;limit=100&amp;atr=740#" class="nbr-piecesacc">500 pièces</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/puzzles-1000-pieces.c3.html" class="nbr-piecesacc" style="float:right!important">1000 pièces</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/puzzles-1500-pieces.c56.html" class="nbr-piecesacc">1500 pièces</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/puzzles-2000-pieces.c4.html" class="nbr-piecesacc" style="float:right!important">2000 pièces</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/puzzles-3000-pieces.c5.html" class="nbr-piecesacc">3000 pièces</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/selection-puzzle-4000-a-5000-6,7,8,9.html" class="nbr-piecesacc" style="float:right!important">4 000 pièces et +</a> </div>
                        <div style="float:left; width: 100%;height: 1px;align-items: center; margin:12px 0 24px 0; background-color:#E5E5E5;"> </div>
                        <a href="/puzzle-3d.ga591.html?nix=1&amp;atr=591,741,740,752" class="btn-bleu" style="margin-top:12px"> <span style="color:#FFF;">Puzzles 3D</span> </a>
                        <a href="/selection-puzzle-3000-a-5000-5,6,7,8,9.html" class="btn-bleu" style="margin-top:12px"> <span style="color:#FFF;">Expert</span> </a>
                        <a href="/made-in-france.ga1111.html" class="btn-bleu" style="margin-top:12px"> <span style="color:#FFF;">Fabriqué en France</span> </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margpad">
                    <div style="border-radius: 0px 12px 12px 0px;margin-top:32px  "> <img alt="Puzzles Adultes" title="Puzzles Adultes" src="/_themes/puzzlethemes/fr/images/acc-puzzles-adultes.webp" style="border:0px" width="184" height="376" class="img-responsive"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="min-height:0px;padding:0;">
            <div style="padding-left:11px">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 font24" style="min-height:0px;padding:0;z-index:0"> Puzzles Enfants </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 margpad" style=";margin-top:32px">
                    <div class="blocage">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/a-partir-de-2-ans-2-a-10-pieces.ga606.html" class="nbr-piecesacc">Dès 2 ans</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/a-partir-de-3-ans-11-a-20-pieces.ga556.html" class="nbr-piecesacc" style="float:right!important">Dès 3 ans</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/a-partir-de-4-ans-21-a-30-pieces.ga607.html" class="nbr-piecesacc">Dès 4 ans</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/a-partir-de-6-ans-50-a-100-pieces.ga609.html" class="nbr-piecesacc" style="float:right!important">Dès 6 ans</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/a-partir-de-8-ans-101-a-250-pieces.ga610.html" class="nbr-piecesacc">Dès 8 ans</a> </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margpad"> <a href="/a-partir-de-9-ans-251-a-399-pieces.ga611.html" class="nbr-piecesacc" style="float:right!important">Dès 9 ans</a> </div>
                        <div style="float:left; width: 100%;height: 1px;align-items: center; margin:12px 0 24px 0; background-color:#E5E5E5;"> </div>
                        <a href="/puzzles-super-heros.c116.html" class="btn-bleu" style="margin-top:12px"> <span style="color:#FFF;">Super Héros</span> </a>
                        <a href="/puzzle-geant-de-sol.ga597.html?ordre=top&amp;np=0&amp;limit=100&amp;atr=597" class="btn-bleu" style="margin-top:12px"> <span style="color:#FFF;">Puzzles géants</span> </a>
                        <a href="/made-in-france.ga1111.html?nix=1&amp;atr=1111,611,610,556,607,608,609" class="btn-bleu" style="margin-top:12px"> <span style="color:#FFF;">Fabriqué en France</span> </a>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margpad">
                    <div style="border-radius: 0px 12px 12px 0px;margin-top:32px  "> <img alt="Puzzles Enfants" title="Puzzles Enfants" src="/_themes/puzzlethemes/fr/images/acc-puzzles-enfants.webp" style="border:0px;" width="184" height="376" class="img-responsive"></div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .dropdown-toggle {display: flex;align-items: center;justify-content: space-between;padding: 12px 18px;border-radius: 4px;border: 1px solid #292929;}
        .dropdown-menu {flex-direction: column;width: 100%;padding: 12px 18px;box-sizing: border-box;}
        .dropdown-adultes, .dropdown-enfants {position: relative;}
    </style>
    <div class="appmob">
        <div class="tabs">
            <div class="tab titreadu active" onclick="openTab(event, 'adultes')"><span>Puzzles Adulte</span></div>
            <div class="tab titreenf" onclick="openTab(event, 'enfants')"><span>Puzzles Enfant</span></div>
        </div>
        <!--Adultes-->
        <div id="adultes" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-puzzles" style="min-height:0px;padding:0;max-height:500px">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 margpad">
                <div class="blocagemob">
                    <div class="dropdown-adultes" onclick="toggleAgeDropdown(this, 'adultes')">
                        <div class="dropdown-toggle" tabindex="0"> 500 pièces <img class="dropdown-icon" src="/_themes/puzzlethemes/fr/images/nav-arrow-down-black.svg" alt=""> </div>
                        <div class="dropdown-menu"> <a href="/500-a-999-pieces.ga740.html?ordre=top&amp;np=0&amp;limit=100&amp;atr=740#" class="dropdown-item">500 pièces</a> <a href="/puzzles-1000-pieces.c3.html" class="dropdown-item">1000 pièces</a> <a href="/puzzles-1500-pieces.c56.html" class="dropdown-item">1500 pièces</a> <a href="/puzzles-2000-pieces.c4.html" class="dropdown-item">2000 pièces</a> <a href="/puzzles-3000-pieces.c5.html" class="dropdown-item">3000 pièces</a> <a href="/selection-puzzle-4000-a-5000-6,7,8,9.html" class="dropdown-item">4 000 pièces et +</a> </div>
                    </div>
                    <div style="float:left; width: 100%;height: 1px;align-items: center; margin:18px 0 18px 0; background-color:#E5E5E5;"> </div>
                    <a href="/puzzle-3d.ga591.html?nix=1&amp;atr=591,741,740,752" class="btn-bleu" style="margin-top:8px"> <span style="color:#FFF;">Puzzles 3D</span> </a>
                    <a href="/selection-puzzle-3000-a-5000-5,6,7,8,9.html" class="btn-bleu" style="margin-top:8px"> <span style="color:#FFF;">Expert</span> </a>
                    <a href="/made-in-france.ga1111.html" class="btn-bleu" style="margin-top:8px"> <span style="color:#FFF;">Fabriqué en France</span> </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margpad">
                <div style="border-radius: 0px 12px 12px 0px;margin-top:0px  "> <img alt="Puzzles Adultes" title="Puzzles Adultes" src="/_themes/puzzlethemes/fr/images/acc-puzzles-adultes-mob.jpg" style="border:0px;cursor:pointer;border-radius: 0px 0px 12px 0px;max-height:272px ; width:100%;object-fit: cover;object-position: center;" class="img-responsive"> </div>
            </div>
        </div>
        <!--Enfants-->
        <div id="enfants" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-puzzles" style="min-height:0px;padding:0;display: none;">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 margpad">
                <div class="blocagemob">
                    <div class="dropdown-enfants" onclick="toggleAgeDropdown(this, 'enfants')">
                        <div class="dropdown-toggle" tabindex="0"> Dès 2 ans <img class="dropdown-icon" src="/_themes/puzzlethemes/fr/images/nav-arrow-down-black.svg" alt=""> </div>
                        <div class="dropdown-menu"> <a href="/a-partir-de-2-ans-2-a-10-pieces.ga606.html" class="dropdown-item">Dès 2 ans</a> <a href="/a-partir-de-3-ans-11-a-20-pieces.ga556.html" class="dropdown-item">Dès 3 ans</a> <a href="/a-partir-de-4-ans-21-a-30-pieces.ga607.html" class="dropdown-item">Dès 4 ans</a> <a href="/a-partir-de-6-ans-50-a-100-pieces.ga609.html" class="dropdown-item">Dès 6 ans</a> <a href="/a-partir-de-8-ans-101-a-250-pieces.ga610.html" class="dropdown-item">Dès 8 ans</a> <a href="/a-partir-de-9-ans-251-a-399-pieces.ga611.html" class="dropdown-item">Dès 9 ans</a> </div>
                    </div>
                    <div style="float:left; width: 100%;height: 1px;align-items: center; margin:18px 0 18px 0; background-color:#E5E5E5;"> </div>
                    <a href="/puzzles-super-heros.c116.html" class="btn-bleu" style="margin-top:8px"> <span style="color:#FFF;">Super Héros</span> </a>
                    <a href="/puzzle-geant-de-sol.ga597.html?ordre=top&amp;np=0&amp;limit=100&amp;atr=597" class="btn-bleu" style="margin-top:8px"> <span style="color:#FFF;">Puzzles géants</span> </a>
                    <a href="/made-in-france.ga1111.html?nix=1&amp;atr=1111,611,610,556,607,608,609" class="btn-bleu" style="margin-top:8px"> <span style="color:#FFF;">Fabriqué en France</span> </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 margpad">
                <div style="border-radius: 0px 12px 12px 0px;margin-top:0px  "> <img alt="Puzzles Adultes" title="Puzzles Adultes" src="/_themes/puzzlethemes/fr/images/acc-puzzles-enfants-mob.jpg" style="border:0px;cursor:pointer;border-radius: 0px 0px 12px 0px;max-height:272px; width:100%;object-fit: cover;object-position: center;" class="img-responsive"> </div>
            </div>
        </div>
    </div>
</div>
