<div class="border-news-mobile">
    <div class="last-consultation">
        <div class="title-border-news-mobile">
            <h3 class="font24">Nos meilleures ventes</h3>
            <div style="display: flex;align-items: center;gap: 12px;">
                <span class="tag filter-tag" data-filter='adulte' data-slider-id="slider4">Adulte</span>
                <span class="tag filter-tag"  data-filter='fabriqué en france' data-slider-id="slider4">Fabriqué en France</span>
            </div>
        </div>
        <div class="content-btn-slick" data-slider-id="slider4">
            <button type="button" data-role="none" class="new-slick-prev new-slick-arrow" aria-label="previous" data-slider-id="slider4" style="display: flex;"><img width="25" height="34" src="/_themes/puzzlethemes/fr/images/nav-arrow-right-h.svg"></button>
            <button type="button" data-role="none" class="new-slick-next new-slick-arrow" aria-label="next" data-slider-id="slider4"  style="display: flex;"><img width="25" height="34" src="/_themes/puzzlethemes/fr/images/nav-arrow-right-h.svg"></button>
        </div>
    </div>
    <div class="shadow-left" style="position: absolute;height: 100%;width: 116px;background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0.00) 100%);z-index: 1;left: -6px;"></div>
    <div class="shadow" style="position: absolute;height: 100%;width: 116px;background: linear-gradient(270deg, #FAFAFA 17.5%, rgba(250, 250, 250, 0.00) 100%);z-index: 1;right: -6px;"></div>
    <div class="slider ajuster_slider_prod_consult slider-new slider-2 slick-initialized slick-slider" data-slider-id="slider2" data-slides-to-show="2" data-slides-to-scroll="1" data-slides-swipe="false" data-breakpoints="[{&quot;breakpoint&quot;:1439,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:2, &quot;swipe&quot;:false, &quot;dots&quot;: false},{&quot;breakpoint&quot;:500,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1, &quot;swipe&quot;:true, &quot;dots&quot;: true}]">
        <div aria-live="polite" class="slick-list draggable" style="width: calc(100vw - 356px);"><div class="slick-track" style="opacity: 1; width: 20000px; transform: translate3d(0px, 0px, 0px);"><a href="/bluebird-puzzle" title="Bluebird Puzzle" alt="Bluebird Puzzle" id="content-marque" class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false">

                <div class="slider ajuster_slider_prod_consult slider-new" data-slider-id="slider4" data-slides-to-show="5" data-slides-to-scroll="2" data-breakpoints='[{"breakpoint":1439,"slidesToShow":4,"slidesToScroll":3, "swipe":false, "dots": false},{"breakpoint":500,"slidesToShow":3,"slidesToScroll":2, "swipe":true, "dots": true}]'><li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="2203" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/planetpuzzles-puzzles-photo-puzzle-photo-personnalise-1000-pieces.p2203.html" title=" PP-Photo-1000 Puzzle Photo Personnalisé 1000 pièces"> <img src="https://data.puzzle.fr/puzzle-photo.94/pp-photo-1000-planetpuzzles-puzzles-photo-puzzle-photo-personnalise-1000-pieces.2203-1.700.jpg" alt=" PP-Photo-1000 Puzzle Photo Personnalisé 1000 pièces" title=" PP-Photo-1000 Puzzle Photo Personnalisé 1000 pièces"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/planetpuzzles-puzzles-photo-puzzle-photo-personnalise-1000-pieces.p2203.html" title=" PP-Photo-1000 Puzzle Photo Personnalisé 1000 pièces">
        <span class="libelle2-acc-libelle">
          Puzzle Photo Personnalisé 1000 pièces        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Planet'Puzzles - Puzzles Photo</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">26,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <a href="/planetpuzzles-puzzles-photo-puzzle-photo-personnalise-1000-pieces.p2203.html">
                            <div class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </li>


        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="99904" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/hachette-evasion-japon-puzzle-500-pieces.p99904.html" title="Puzzle  Hachette-Puzzle-0009 Évasion Japon"> <img src="https://data.puzzle.fr/puzzles-hachette.231/hachette-puzzle-0009-hachette-evasion-japon-puzzle-500-pieces.99904-1.700.jpg" alt="Puzzle  Hachette-Puzzle-0009 Évasion Japon" title="Puzzle  Hachette-Puzzle-0009 Évasion Japon"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/hachette-evasion-japon-puzzle-500-pieces.p99904.html" title="Puzzle  Hachette-Puzzle-0009 Évasion Japon">
        <span class="libelle2-acc-libelle">
          Évasion Japon        </span>
                        <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Hachette</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">17,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(99904,1,0,413)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="99905" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/hachette-evasion-iles-grecques-puzzle-500-pieces.p99905.html" title="Puzzle  Hachette-Puzzle-0010 Évasion Iles Grecques"> <img src="https://data.puzzle.fr/puzzles-hachette.231/hachette-puzzle-0010-hachette-evasion-iles-grecques-puzzle-500-pieces.99905-1.700.jpg" alt="Puzzle  Hachette-Puzzle-0010 Évasion Iles Grecques" title="Puzzle  Hachette-Puzzle-0010 Évasion Iles Grecques"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/hachette-evasion-iles-grecques-puzzle-500-pieces.p99905.html" title="Puzzle  Hachette-Puzzle-0010 Évasion Iles Grecques">
        <span class="libelle2-acc-libelle">
          Évasion Iles Grecques        </span>
                        <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Hachette</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">17,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(99905,1,0,211)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="99906" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/hachette-evasion-maroc-puzzle-500-pieces.p99906.html" title="Puzzle  Hachette-Puzzle-0011 Évasion Maroc"> <img src="https://data.puzzle.fr/puzzles-hachette.231/hachette-puzzle-0011-hachette-evasion-maroc-puzzle-500-pieces.99906-1.700.jpg" alt="Puzzle  Hachette-Puzzle-0011 Évasion Maroc" title="Puzzle  Hachette-Puzzle-0011 Évasion Maroc"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/hachette-evasion-maroc-puzzle-500-pieces.p99906.html" title="Puzzle  Hachette-Puzzle-0011 Évasion Maroc">
        <span class="libelle2-acc-libelle">
          Évasion Maroc        </span>
                        <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Hachette</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">17,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(99906,1,0,240)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="99907" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/hachette-evasion-martinique-puzzle-500-pieces.p99907.html" title="Puzzle  Hachette-Puzzle-0012 Évasion Martinique"> <img src="https://data.puzzle.fr/puzzles-hachette.231/hachette-puzzle-0012-hachette-evasion-martinique-puzzle-500-pieces.99907-1.700.jpg" alt="Puzzle  Hachette-Puzzle-0012 Évasion Martinique" title="Puzzle  Hachette-Puzzle-0012 Évasion Martinique"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/hachette-evasion-martinique-puzzle-500-pieces.p99907.html" title="Puzzle  Hachette-Puzzle-0012 Évasion Martinique">
        <span class="libelle2-acc-libelle">
          Évasion Martinique        </span>
                        <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Hachette</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">17,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(99907,1,0,270)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="97329" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-mad-props-puzzle-1000-pieces.p97329.html" title="Puzzle  Bluebird-Puzzle-F-90656 Mad Props"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90656-bluebird-puzzle-mad-props-puzzle-1000-pieces.97329-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90656 Mad Props" title="Puzzle  Bluebird-Puzzle-F-90656 Mad Props"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-mad-props-puzzle-1000-pieces.p97329.html" title="Puzzle  Bluebird-Puzzle-F-90656 Mad Props">
        <span class="libelle2-acc-libelle">
          Mad Props        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(97329,1,0,466)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="false">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="79727" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/jig-puz-6-boites-de-tri.p79727.html" title="Puzzle  Jig-and-Puz-80001 6 Boites de Tri"> <img src="https://data.puzzle.fr/jig-and-puz.185/jig-and-puz-80001-jig-puz-6-boites-de-tri.79727-1.700.jpg" alt="Puzzle  Jig-and-Puz-80001 6 Boites de Tri" title="Puzzle  Jig-and-Puz-80001 6 Boites de Tri"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/jig-puz-6-boites-de-tri.p79727.html" title="Puzzle  Jig-and-Puz-80001 6 Boites de Tri">
        <span class="libelle2-acc-libelle">
          6 Boites de Tri        </span>
                        <span class="libelle2-acc-nbpieces">
                    6          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Jig & Puz</div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">12,95&euro;</span><span class="prix-sans-promo-barre">14,95&euro;</span>
                        </div>
                        <div onclick="addproduitz(79727,1,0,3573)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101723" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-lady-with-a-dragon-puzzle-1000-pieces.p101723.html" title="Puzzle  Bluebird-Puzzle-F-90926 Lady with a Dragon"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90926-bluebird-puzzle-lady-with-a-dragon-puzzle-1000-pieces.101723-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90926 Lady with a Dragon" title="Puzzle  Bluebird-Puzzle-F-90926 Lady with a Dragon"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-lady-with-a-dragon-puzzle-1000-pieces.p101723.html" title="Puzzle  Bluebird-Puzzle-F-90926 Lady with a Dragon">
        <span class="libelle2-acc-libelle">
          Lady with a Dragon        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101723,1,0,190)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101733" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-lady-with-a-hat-puzzle-1000-pieces.p101733.html" title="Puzzle  Bluebird-Puzzle-F-90933 Lady with a Hat"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90933-bluebird-puzzle-lady-with-a-hat-puzzle-1000-pieces.101733-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90933 Lady with a Hat" title="Puzzle  Bluebird-Puzzle-F-90933 Lady with a Hat"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-lady-with-a-hat-puzzle-1000-pieces.p101733.html" title="Puzzle  Bluebird-Puzzle-F-90933 Lady with a Hat">
        <span class="libelle2-acc-libelle">
          Lady with a Hat        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101733,1,0,35)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101734" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-the-witchs-lair-puzzle-1000-pieces.p101734.html" title="Puzzle  Bluebird-Puzzle-F-90934 The Witch's Lair"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90934-bluebird-puzzle-the-witchs-lair-puzzle-1000-pieces.101734-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90934 The Witch's Lair" title="Puzzle  Bluebird-Puzzle-F-90934 The Witch's Lair"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-the-witchs-lair-puzzle-1000-pieces.p101734.html" title="Puzzle  Bluebird-Puzzle-F-90934 The Witch's Lair">
        <span class="libelle2-acc-libelle">
          The Witch's Lair        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101734,1,0,53)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="89380" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-romero-britto-sunset-puzzle-2000-pieces.p89380.html" title="Puzzle  Bluebird-Puzzle-F-90024 Romero Britto - Sunset"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90024-bluebird-puzzle-romero-britto-sunset-puzzle-2000-pieces.89380-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90024 Romero Britto - Sunset" title="Puzzle  Bluebird-Puzzle-F-90024 Romero Britto - Sunset"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-romero-britto-sunset-puzzle-2000-pieces.p89380.html" title="Puzzle  Bluebird-Puzzle-F-90024 Romero Britto - Sunset">
        <span class="libelle2-acc-libelle">
          Romero Britto - Sunset        </span>
                        <span class="libelle2-acc-nbpieces">
                    2000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">21,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(89380,1,0,219)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101661" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/pieces-peace-coin-lecture-puzzle-1000-pieces.p101661.html" title="Puzzle  Pieces-Peace-F-00199 Coin Lecture"> <img src="https://data.puzzle.fr/pieces-and-peace-puzzle.206/pieces-peace-f-00199-pieces-peace-coin-lecture-puzzle-1000-pieces.101661-1.700.jpg" alt="Puzzle  Pieces-Peace-F-00199 Coin Lecture" title="Puzzle  Pieces-Peace-F-00199 Coin Lecture"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/pieces-peace-coin-lecture-puzzle-1000-pieces.p101661.html" title="Puzzle  Pieces-Peace-F-00199 Coin Lecture">
        <span class="libelle2-acc-libelle">
          Coin Lecture        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Pieces & Peace</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">22,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101661,1,0,260)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101722" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-lake-view-cabin-mountain-time-puzzle-1000-pieces.p101722.html" title="Puzzle  Bluebird-Puzzle-F-90925 Lake View Cabin Mountain Time"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90925-bluebird-puzzle-lake-view-cabin-mountain-time-puzzle-1000-pieces.101722-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90925 Lake View Cabin Mountain Time" title="Puzzle  Bluebird-Puzzle-F-90925 Lake View Cabin Mountain Time"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-lake-view-cabin-mountain-time-puzzle-1000-pieces.p101722.html" title="Puzzle  Bluebird-Puzzle-F-90925 Lake View Cabin Mountain Time">
        <span class="libelle2-acc-libelle">
          Lake View Cabin Mountain Time        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101722,1,0,191)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101679" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/alipson-puzzle-spring-bunnies-puzzle-1000-pieces.p101679.html" title="Puzzle  Alipson-Puzzle-F-50162 Spring Bunnies"> <img src="https://data.puzzle.fr/alipson-puzzle.212/alipson-puzzle-f-50162-alipson-puzzle-spring-bunnies-puzzle-1000-pieces.101679-1.700.jpg" alt="Puzzle  Alipson-Puzzle-F-50162 Spring Bunnies" title="Puzzle  Alipson-Puzzle-F-50162 Spring Bunnies"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/alipson-puzzle-spring-bunnies-puzzle-1000-pieces.p101679.html" title="Puzzle  Alipson-Puzzle-F-50162 Spring Bunnies">
        <span class="libelle2-acc-libelle">
          Spring Bunnies        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Alipson Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">10,25&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101679,1,0,20)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101721" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-spring-hill-puzzle-1000-pieces.p101721.html" title="Puzzle  Bluebird-Puzzle-F-90924 Spring Hill"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90924-bluebird-puzzle-spring-hill-puzzle-1000-pieces.101721-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90924 Spring Hill" title="Puzzle  Bluebird-Puzzle-F-90924 Spring Hill"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-spring-hill-puzzle-1000-pieces.p101721.html" title="Puzzle  Bluebird-Puzzle-F-90924 Spring Hill">
        <span class="libelle2-acc-libelle">
          Spring Hill        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101721,1,0,234)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101725" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-pink-cowgirl-puzzle-1000-pieces.p101725.html" title="Puzzle  Bluebird-Puzzle-F-90928 Pink Cowgirl"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90928-bluebird-puzzle-pink-cowgirl-puzzle-1000-pieces.101725-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90928 Pink Cowgirl" title="Puzzle  Bluebird-Puzzle-F-90928 Pink Cowgirl"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-pink-cowgirl-puzzle-1000-pieces.p101725.html" title="Puzzle  Bluebird-Puzzle-F-90928 Pink Cowgirl">
        <span class="libelle2-acc-libelle">
          Pink Cowgirl        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101725,1,0,99)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101633" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/pieces-peace-une-journee-cosy-puzzle-1000-pieces.p101633.html" title="Puzzle  Pieces-Peace-F-00190 Une Journée Cosy"> <img src="https://data.puzzle.fr/pieces-and-peace-puzzle.206/pieces-peace-f-00190-pieces-peace-une-journee-cosy-puzzle-1000-pieces.101633-1.700.jpg" alt="Puzzle  Pieces-Peace-F-00190 Une Journée Cosy" title="Puzzle  Pieces-Peace-F-00190 Une Journée Cosy"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/pieces-peace-une-journee-cosy-puzzle-1000-pieces.p101633.html" title="Puzzle  Pieces-Peace-F-00190 Une Journée Cosy">
        <span class="libelle2-acc-libelle">
          Une Journée Cosy        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Pieces & Peace</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">22,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101633,1,0,192)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="101726" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/bluebird-puzzle-indian-beauty-puzzle-1000-pieces.p101726.html" title="Puzzle  Bluebird-Puzzle-F-90929 Indian Beauty"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90929-bluebird-puzzle-indian-beauty-puzzle-1000-pieces.101726-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90929 Indian Beauty" title="Puzzle  Bluebird-Puzzle-F-90929 Indian Beauty"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/bluebird-puzzle-indian-beauty-puzzle-1000-pieces.p101726.html" title="Puzzle  Bluebird-Puzzle-F-90929 Indian Beauty">
        <span class="libelle2-acc-libelle">
          Indian Beauty        </span>
                        <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(101726,1,0,240)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="false">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="79728" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/jig-puz-colle-pour-puzzle-1000-pieces.p79728.html" title=" Jig-and-Puz-80006 Colle pour Puzzle 1000 pièces"> <img src="https://data.puzzle.fr/jig-and-puz.185/jig-and-puz-80006-jig-puz-colle-pour-puzzle-1000-pieces.79728-1.700.jpg" alt=" Jig-and-Puz-80006 Colle pour Puzzle 1000 pièces" title=" Jig-and-Puz-80006 Colle pour Puzzle 1000 pièces"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/jig-puz-colle-pour-puzzle-1000-pieces.p79728.html" title=" Jig-and-Puz-80006 Colle pour Puzzle 1000 pièces">
        <span class="libelle2-acc-libelle">
          Colle pour Puzzle 1000 pièces        </span>
                        <span class="libelle2-acc-nbpieces">
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Jig & Puz</div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">9,45&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(79728,1,0,394)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="product-item"  data-age-group="adulte" data-mif="true">
            <div class="cube-prod-acc">


                <div class="cubecoeur"> <img data-rel="79724" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>

                <div style="width: 100%;"> <a href="/jig-puz-tapis-de-puzzles-300-a-1000-pieces.p79724.html" title=" Jig-and-Puz-80002 Tapis de Puzzles - 300 à 1000 pièces"> <img src="https://data.puzzle.fr/jig-and-puz.185/jig-and-puz-80002-jig-puz-tapis-de-puzzles-300-a-1000-pieces.79724-1.700.jpg" alt=" Jig-and-Puz-80002 Tapis de Puzzles - 300 à 1000 pièces" title=" Jig-and-Puz-80002 Tapis de Puzzles - 300 à 1000 pièces"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                <div class="libelle2-acc">
                    <a href="/jig-puz-tapis-de-puzzles-300-a-1000-pieces.p79724.html" title=" Jig-and-Puz-80002 Tapis de Puzzles - 300 à 1000 pièces">
        <span class="libelle2-acc-libelle">
          Tapis de Puzzles - 300 à 1000 pièces        </span>
                        <span class="libelle2-acc-nbpieces">
          <br>
          </span>
                        <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Jig & Puz</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                    </a>
                    <div class="content-prix-barre">
                        <div class="prix-barre">
                            <span class="prix-client-barre">15,95&euro;</span><span class="prix-sans-promo-barre"></span>
                        </div>
                        <div onclick="addproduitz(79724,1,0,253)">
                            <button type="button" class="button-add-cart">
                                <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
</div>
        </div></div>
