
<div style="width: 100%;margin-left:auto;margin-right:auto; max-width:1120px">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="min-height:0px;padding:0;">
        <h3 class="title-new font24 top-w-f" >Retrouvez nos catégories</h3>
    </div>




    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content-cat" style="min-height:0px;padding:0;">
        <a href="/puzzles-noel.c88.html"><div class="bc-img1 bc-img " style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-noel-cat.webp)" alt="Puzzle de Noël" title="Puzzle de Noël"><div class="bc-txt1 bc-txt">Puzzle de Noël</div></div>
        </a>
     </div>-->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content-cat" style="min-height:0px;padding:0;">
        <!-- <a href="/puzzles-noel.c88.html"><div class="bc-img1 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/cat-noel.webp)" alt="Puzzles de Noël" title="Puzzles de Noël"><div class="bc-txt1 bc-txt">Puzzles de Noël</div></div>
         </a>-->
        <a href="/selection.u142.html"><div class="bc-img1 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/cat-puzzle-printemps.webp)" alt="Puzzles du Printemps" title="Puzzles du Printemps"><div class="bc-txt1 bc-txt">Puzzles du Printemps</div></div>
    </div>


    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 content-cat" style="min-height:0px;padding:0;">
        <a href="/made-in-france.ga1111.html" >
            <div class="bc-img2 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-france-cat.webp)" alt="Puzzles Fabriqués en France" title="Puzzles Fabriqués en France"> <div class="bc-txt2 bc-txt"> Puzzles Fabriqués en France  </div></div>
        </a>

    </div>
    <!--  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 content-cat" style="min-height:0px;padding:0; ">
          <a href="/puzzles-art.c42.html" >
          <div class="bc-img3 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-art-cat.webp)" alt="Puzzles d’Art" title="Puzzles d’Art"> <div  class="bc-txt3 bc-txt"> Puzzles d’Art  </div></div></a>
      </div>-->
    <!--<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 content-cat" style="min-height:0px;padding:0; ">
        <a href="/selection-juniors-19,18,17,16,15,14,13,151.html" >
        <div class="bc-img3 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/cat-enfant-n.webp)" alt="Puzzles Puzzles pour les Enfants" title="Puzzles Puzzles pour les Enfants"> <div  class="bc-txt3 bc-txt"> Puzzles pour les Enfants  </div></div></a>
    </div>-->

    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 content-cat" style="min-height:0px;padding:0; ">
        <a href="/grafika" >
            <div class="bc-img3 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-france-cat.webp)" alt="Puzzles Grafika" title="Puzzles Grafika"> <div  class="bc-txt3 bc-txt"> Puzzles Grafika  </div></div></a>
    </div>




    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 content-cat" style="min-height:0px;padding:0; ">
        <!--<a href="/bluebird-puzzle" > <div class="bc-img4 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-bluebird-cat.webp)" alt="Puzzles Bluebird" title="Puzzles Bluebird"> <div class="bc-txt4 bc-txt"> Puzzles Bluebird  </div> </div> </a>-->
        <a href="/castorland" > <div class="bc-img4 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-castorland-cat.webp)" alt="Puzzles Castorland" title="Puzzles Castorland"> <div class="bc-txt4 bc-txt"> Puzzles Castorland  </div> </div> </a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 content-cat" style="min-height:0px;padding:0;">
        <a href="/van-gogh-vincent-.ga622.html" >  <div class="bc-img5 bc-img" style="background-image: url(/_themes/puzzlethemes/fr/images/cat-puzzle-vincent-van-gogh.webp)" alt="Vincent Van Gogh" title="Vincent Van Gogh"> <div  class="bc-txt5 bc-txt"> Vincent Van Gogh  </div> </div></a>
    </div>
</div>


