<div class="row" style="width: 100%;">
    <div class="border-news-mobile">
        <div class="content-new">
            <h3 class="title-new font24">Découvrez les marques</h3>
            <div class="content-btn-slick marg-bouton" data-slider-id="slider2">
                <button type="button" data-role="none" class="new-slick-prev new-slick-arrow slick-arrow slick-disabled" aria-label="previous" data-slider-id="slider2" style="display: flex;" aria-disabled="true"><img width="25" height="34" src="/_themes/puzzlethemes/fr/images/nav-arrow-right-h.svg"></button>
                <button type="button" data-role="none" class="new-slick-next new-slick-arrow slick-arrow" aria-label="next" data-slider-id="slider2" style="display: flex;" aria-disabled="false"><img width="25" height="34" src="/_themes/puzzlethemes/fr/images/nav-arrow-right-h.svg"></button>
            </div>
        </div>
        <div class="shadow-left" style="position: absolute;height: 100%;width: 116px;background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0.00) 100%);z-index: 1;left: -6px;"></div>
        <div class="shadow" style="position: absolute;height: 100%;width: 116px;background: linear-gradient(270deg, #FAFAFA 17.5%, rgba(250, 250, 250, 0.00) 100%);z-index: 1;right: -6px;"></div>
        <div class="slider ajuster_slider_prod_consult slider-new slider-2 slick-initialized slick-slider" data-slider-id="slider2" data-slides-to-show="2" data-slides-to-scroll="1" data-slides-swipe="false" data-breakpoints="[{&quot;breakpoint&quot;:1439,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:2, &quot;swipe&quot;:false, &quot;dots&quot;: false},{&quot;breakpoint&quot;:500,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1, &quot;swipe&quot;:true, &quot;dots&quot;: true}]">
            <div aria-live="polite" class="slick-list draggable" style="width: calc(100vw - 356px);"><div class="slick-track" style="opacity: 1; width: 20000px; transform: translate3d(0px, 0px, 0px);"><a href="/bluebird-puzzle" title="Bluebird Puzzle" alt="Bluebird Puzzle" id="content-marque" class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false">
                        <div class="slider-item-marque" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-categorie1.webp);">
                            <div class="slider-text-marque">Bluebird Puzzle</div>
                        </div>
                    </a><a href="/pieces-and-peace-puzzle" title="Pieces &amp; Peace" alt="Pieces &amp; Peace" id="content-marque" class="slick-slide slick-active" data-slick-index="1" aria-hidden="false">
                        <div class="slider-item-marque" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-categorie2.webp);">
                            <div class="slider-text-marque">Pieces &amp; Peace</div>
                        </div>
                    </a><a href="/grafika" alt="Grafika" title="Grafika" id="content-marque" class="slick-slide" data-slick-index="2" aria-hidden="true">
                        <div class="slider-item-marque" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-categorie3.webp);">
                            <div class="slider-text-marque">Grafika</div>
                        </div>
                    </a><a href="/alipson-puzzle" alt="Alipson Puzzle" title="Alipson Puzzle" id="content-marque" class="slick-slide" data-slick-index="3" aria-hidden="true">
                        <div class="slider-item-marque" style="background-image: url(/_themes/puzzlethemes/fr/images/puzzle-categorie4.webp);">
                            <div class="slider-text-marque">Alipson</div>
                        </div>
                    </a></div></div>



        </div>
    </div>
</div>
