

<div class="row">
        <div class="border-news-mobile">
        <div class="content-new">
            <div class="title-border-news-mobile">
                <h3 class="title-new font24">Nos nouveautés</h3>
                <div style="display: flex;align-items: center;gap: 12px;">
                    <span class="tag filter-tag" data-filter='adulte' data-slider-id="slider1">Adulte</span>
                    <span class="tag filter-tag" data-filter='fabriqué en france' data-slider-id="slider1">Fabriqué en France</span>
                </div>
            </div>
            <div class="content-btn-slick marg-bouton" data-slider-id="slider1">
                <button type="button" data-role="none" class="new-slick-prev new-slick-arrow" aria-label="previous" data-slider-id="slider1" style="display: flex;">
                    <img width="25" height="34" src="/_themes/puzzlethemes/fr/images/nav-arrow-right-h.svg">
                </button>
                <button type="button" data-role="none" class="new-slick-next new-slick-arrow" aria-label="next" data-slider-id="slider1" style="display: flex;">
                    <img width="25" height="34" src="/_themes/puzzlethemes/fr/images/nav-arrow-right-h.svg">
                </button>
            </div>
        </div>
        <div class="shadow-left" style="position: absolute;height: auto;width: 116px;background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0.00) 100%);z-index: 1;left: -6px;"></div>
        <div class="shadow" style="position: absolute;height: auto;width: 116px;background: linear-gradient(270deg, #FAFAFA 17.5%, rgba(250, 250, 250, 0.00) 100%);z-index: 1;right: -6px;"></div>
            <div class="slider ajuster_slider_prod_consult slider-new slider-2 slick-initialized slick-slider" data-slider-id="slider2" data-slides-to-show="2" data-slides-to-scroll="1" data-slides-swipe="false" data-breakpoints="[{&quot;breakpoint&quot;:1439,&quot;slidesToShow&quot;:3,&quot;slidesToScroll&quot;:2, &quot;swipe&quot;:false, &quot;dots&quot;: false},{&quot;breakpoint&quot;:500,&quot;slidesToShow&quot;:1,&quot;slidesToScroll&quot;:1, &quot;swipe&quot;:true, &quot;dots&quot;: true}]">
                <div aria-live="polite" class="slick-list draggable" style="width: calc(100vw - 356px);"><div class="slick-track" style="opacity: 1; width: 20000px; transform: translate3d(0px, 0px, 0px);"><a href="/bluebird-puzzle" title="Bluebird Puzzle" alt="Bluebird Puzzle" id="content-marque" class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false">

                        <ul class="slider ajuster_slider slider-new" data-slider-id="slider1" data-slides-to-show="5" data-slides-to-scroll="2" data-slides-swipe="false" data-breakpoints='[{"breakpoint":1439,"slidesToShow":4,"slidesToScroll":3, "swipe":false, "dots": false},{"breakpoint":500,"slidesToShow":3,"slidesToScroll":2, "swipe":true, "dots": true}]'>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102022" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-affiches-tfl-heritage-puzzle-1000-pieces.p102022.html" title="Puzzle  Gibsons-G7109 Affiches Tfl Heritage"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g7109-gibsons-affiches-tfl-heritage-puzzle-1000-pieces.102022-1.700.jpg" alt="Puzzle  Gibsons-G7109 Affiches Tfl Heritage" title="Puzzle  Gibsons-G7109 Affiches Tfl Heritage"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-affiches-tfl-heritage-puzzle-1000-pieces.p102022.html" title="Puzzle  Gibsons-G7109 Affiches Tfl Heritage">
        <span class="libelle2-acc-libelle">
          Affiches Tfl Heritage        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">17,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102022,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102026" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-couvertures-de-livres-classiques-puzzle-1000-pieces.p102026.html" title="Puzzle  Gibsons-G6623 Couvertures De Livres Classiques"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g6623-gibsons-couvertures-de-livres-classiques-puzzle-1000-pieces.102026-1.700.jpg" alt="Puzzle  Gibsons-G6623 Couvertures De Livres Classiques" title="Puzzle  Gibsons-G6623 Couvertures De Livres Classiques"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-couvertures-de-livres-classiques-puzzle-1000-pieces.p102026.html" title="Puzzle  Gibsons-G6623 Couvertures De Livres Classiques">
        <span class="libelle2-acc-libelle">
          Couvertures De Livres Classiques        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102026,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102030" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-ss-great-britain-une-odyssee-imaginaire-puzzle-1000-pieces.p102030.html" title="Puzzle  Gibsons-G7149 Ss Great Britain : Une Odyssée Imaginaire"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g7149-gibsons-ss-great-britain-une-odyssee-imaginaire-puzzle-1000-pieces.102030-1.700.jpg" alt="Puzzle  Gibsons-G7149 Ss Great Britain : Une Odyssée Imaginaire" title="Puzzle  Gibsons-G7149 Ss Great Britain : Une Odyssée Imaginaire"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-ss-great-britain-une-odyssee-imaginaire-puzzle-1000-pieces.p102030.html" title="Puzzle  Gibsons-G7149 Ss Great Britain : Une Odyssée Imaginaire">
        <span class="libelle2-acc-libelle">
          Ss Great Britain : Une Odyssée Imaginaire        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102030,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102035" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-jokesaws-shakespeare-shake-up-puzzle-1000-pieces.p102035.html" title="Puzzle  Gibsons-G7157 Jokesaws : Shakespeare Shake-Up"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g7157-gibsons-jokesaws-shakespeare-shake-up-puzzle-1000-pieces.102035-1.700.jpg" alt="Puzzle  Gibsons-G7157 Jokesaws : Shakespeare Shake-Up" title="Puzzle  Gibsons-G7157 Jokesaws : Shakespeare Shake-Up"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-jokesaws-shakespeare-shake-up-puzzle-1000-pieces.p102035.html" title="Puzzle  Gibsons-G7157 Jokesaws : Shakespeare Shake-Up">
        <span class="libelle2-acc-libelle">
          Jokesaws : Shakespeare Shake-Up        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102035,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102039" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-le-puzzle-des-reves-puzzle-1000-pieces.p102039.html" title=" Gibsons-G7163 Le Puzzle Des Rêves"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g7163-gibsons-le-puzzle-des-reves-puzzle-1000-pieces.102039-1.700.jpg" alt=" Gibsons-G7163 Le Puzzle Des Rêves" title=" Gibsons-G7163 Le Puzzle Des Rêves"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-le-puzzle-des-reves-puzzle-1000-pieces.p102039.html" title=" Gibsons-G7163 Le Puzzle Des Rêves">
        <span class="libelle2-acc-libelle">
          Le Puzzle Des Rêves        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102039,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102043" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-le-dossier-dart-monde-sous-marin-puzzle-1000-pieces.p102043.html" title="Puzzle  Gibsons-G7213 Le Dossier D'Art : Monde Sous-Marin"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g7213-gibsons-le-dossier-dart-monde-sous-marin-puzzle-1000-pieces.102043-1.700.jpg" alt="Puzzle  Gibsons-G7213 Le Dossier D'Art : Monde Sous-Marin" title="Puzzle  Gibsons-G7213 Le Dossier D'Art : Monde Sous-Marin"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-le-dossier-dart-monde-sous-marin-puzzle-1000-pieces.p102043.html" title="Puzzle  Gibsons-G7213 Le Dossier D'Art : Monde Sous-Marin">
        <span class="libelle2-acc-libelle">
          Le Dossier D'Art : Monde Sous-Marin        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102043,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102047" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-lappel-de-dublin-puzzle-1000-pieces.p102047.html" title="Puzzle  Gibsons-G6391 L'Appel De Dublin"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g6391-gibsons-lappel-de-dublin-puzzle-1000-pieces.102047-1.700.jpg" alt="Puzzle  Gibsons-G6391 L'Appel De Dublin" title="Puzzle  Gibsons-G6391 L'Appel De Dublin"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-lappel-de-dublin-puzzle-1000-pieces.p102047.html" title="Puzzle  Gibsons-G6391 L'Appel De Dublin">
        <span class="libelle2-acc-libelle">
          L'Appel De Dublin        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102047,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102051" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-lautomne-a-paris-puzzle-1000-pieces.p102051.html" title="Puzzle  Gibsons-G6415 L'Automne À Paris"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g6415-gibsons-lautomne-a-paris-puzzle-1000-pieces.102051-1.700.jpg" alt="Puzzle  Gibsons-G6415 L'Automne À Paris" title="Puzzle  Gibsons-G6415 L'Automne À Paris"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-lautomne-a-paris-puzzle-1000-pieces.p102051.html" title="Puzzle  Gibsons-G6415 L'Automne À Paris">
        <span class="libelle2-acc-libelle">
          L'Automne À Paris        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102051,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102056" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-le-pigeonnier-puzzle-1000-pieces.p102056.html" title="Puzzle  Gibsons-G6427 Le Pigeonnier"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g6427-gibsons-le-pigeonnier-puzzle-1000-pieces.102056-1.700.jpg" alt="Puzzle  Gibsons-G6427 Le Pigeonnier" title="Puzzle  Gibsons-G6427 Le Pigeonnier"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-le-pigeonnier-puzzle-1000-pieces.p102056.html" title="Puzzle  Gibsons-G6427 Le Pigeonnier">
        <span class="libelle2-acc-libelle">
          Le Pigeonnier        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102056,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102060" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-les-friandises-qui-ont-construit-la-grande-bretagne-puzzle-1000-pieces.p102060.html" title="Puzzle  Gibsons-G7126 Les Friandises Qui Ont Construit La Grande-Bretagne"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g7126-gibsons-les-friandises-qui-ont-construit-la-grande-bretagne-puzzle-1000-pieces.102060-1.700.jpg" alt="Puzzle  Gibsons-G7126 Les Friandises Qui Ont Construit La Grande-Bretagne" title="Puzzle  Gibsons-G7126 Les Friandises Qui Ont Construit La Grande-Bretagne"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-les-friandises-qui-ont-construit-la-grande-bretagne-puzzle-1000-pieces.p102060.html" title="Puzzle  Gibsons-G7126 Les Friandises Qui Ont Construit La Grande-Bretagne">
        <span class="libelle2-acc-libelle">
          Les Friandises Qui Ont Construit La Grande-Bretagne        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102060,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102064" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-amour-de-la-campagne-puzzle-500-pieces.p102064.html" title="Puzzle  Gibsons-G3155 Amour De La Campagne"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g3155-gibsons-amour-de-la-campagne-puzzle-500-pieces.102064-1.700.jpg" alt="Puzzle  Gibsons-G3155 Amour De La Campagne" title="Puzzle  Gibsons-G3155 Amour De La Campagne"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-amour-de-la-campagne-puzzle-500-pieces.p102064.html" title="Puzzle  Gibsons-G3155 Amour De La Campagne">
        <span class="libelle2-acc-libelle">
          Amour De La Campagne        </span>
                            <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102064,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102068" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-celebrer-lete-puzzle-500-pieces.p102068.html" title="Puzzle  Gibsons-G3163 Célébrer L'Été"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g3163-gibsons-celebrer-lete-puzzle-500-pieces.102068-1.700.jpg" alt="Puzzle  Gibsons-G3163 Célébrer L'Été" title="Puzzle  Gibsons-G3163 Célébrer L'Été"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-celebrer-lete-puzzle-500-pieces.p102068.html" title="Puzzle  Gibsons-G3163 Célébrer L'Été">
        <span class="libelle2-acc-libelle">
          Célébrer L'Été        </span>
                            <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102068,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102072" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-nourrir-les-canards-puzzle-500-pieces.p102072.html" title="Puzzle  Gibsons-G3167 Nourrir Les Canards"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g3167-gibsons-nourrir-les-canards-puzzle-500-pieces.102072-1.700.jpg" alt="Puzzle  Gibsons-G3167 Nourrir Les Canards" title="Puzzle  Gibsons-G3167 Nourrir Les Canards"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-nourrir-les-canards-puzzle-500-pieces.p102072.html" title="Puzzle  Gibsons-G3167 Nourrir Les Canards">
        <span class="libelle2-acc-libelle">
          Nourrir Les Canards        </span>
                            <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102072,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102076" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-paysage-urbain-de-londres-puzzle-500-pieces.p102076.html" title="Puzzle  Gibsons-G3447 Paysage Urbain De Londres"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g3447-gibsons-paysage-urbain-de-londres-puzzle-500-pieces.102076-1.700.jpg" alt="Puzzle  Gibsons-G3447 Paysage Urbain De Londres" title="Puzzle  Gibsons-G3447 Paysage Urbain De Londres"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-paysage-urbain-de-londres-puzzle-500-pieces.p102076.html" title="Puzzle  Gibsons-G3447 Paysage Urbain De Londres">
        <span class="libelle2-acc-libelle">
          Paysage Urbain De Londres        </span>
                            <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102076,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102080" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/gibsons-pieces-xl-matinee-en-mediterranee-puzzle-500-pieces.p102080.html" title="Puzzle  Gibsons-G3565 Pièces XL - Matinée En Méditerranée"> <img src="https://data.puzzle.fr/gibsons.26/gibsons-g3565-gibsons-pieces-xl-matinee-en-mediterranee-puzzle-500-pieces.102080-1.700.jpg" alt="Puzzle  Gibsons-G3565 Pièces XL - Matinée En Méditerranée" title="Puzzle  Gibsons-G3565 Pièces XL - Matinée En Méditerranée"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/gibsons-pieces-xl-matinee-en-mediterranee-puzzle-500-pieces.p102080.html" title="Puzzle  Gibsons-G3565 Pièces XL - Matinée En Méditerranée">
        <span class="libelle2-acc-libelle">
          Pièces XL - Matinée En Méditerranée        </span>
                            <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Gibsons</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">18,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102080,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="true">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="101831" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/bluebird-puzzle-foret-doree-puzzle-1000-pieces.p101831.html" title="Puzzle  Bluebird-Puzzle-F-90981 Forêt Dorée"> <img src="https://data.puzzle.fr/bluebird-puzzle.160/bluebird-puzzle-f-90981-bluebird-puzzle-foret-doree-puzzle-1000-pieces.101831-1.700.jpg" alt="Puzzle  Bluebird-Puzzle-F-90981 Forêt Dorée" title="Puzzle  Bluebird-Puzzle-F-90981 Forêt Dorée"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/bluebird-puzzle-foret-doree-puzzle-1000-pieces.p101831.html" title="Puzzle  Bluebird-Puzzle-F-90981 Forêt Dorée">
        <span class="libelle2-acc-libelle">
          Forêt Dorée        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Bluebird Puzzle</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">13,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(101831,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102239" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/clementoni-nuit-au-cafe-eiffel-puzzle-500-pieces.p102239.html" title="Puzzle  Clementoni-35577 Nuit Au Café Eiffel"> <img src="https://data.puzzle.fr/clementoni.8/clementoni-35577-clementoni-nuit-au-cafe-eiffel-puzzle-500-pieces.102239-1.700.jpg" alt="Puzzle  Clementoni-35577 Nuit Au Café Eiffel" title="Puzzle  Clementoni-35577 Nuit Au Café Eiffel"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/clementoni-nuit-au-cafe-eiffel-puzzle-500-pieces.p102239.html" title="Puzzle  Clementoni-35577 Nuit Au Café Eiffel">
        <span class="libelle2-acc-libelle">
          Nuit Au Café Eiffel        </span>
                            <span class="libelle2-acc-nbpieces">
                    500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Clementoni</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">9,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102239,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="false">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="102344" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/clementoni-naruto-shippuden-puzzle-1000-pieces.p102344.html" title="Puzzle  Clementoni-37052 Naruto Shippuden"> <img src="https://data.puzzle.fr/clementoni.8/clementoni-37052-clementoni-naruto-shippuden-puzzle-1000-pieces.102344-1.700.jpg" alt="Puzzle  Clementoni-37052 Naruto Shippuden" title="Puzzle  Clementoni-37052 Naruto Shippuden"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/clementoni-naruto-shippuden-puzzle-1000-pieces.p102344.html" title="Puzzle  Clementoni-37052 Naruto Shippuden">
        <span class="libelle2-acc-libelle">
          Naruto Shippuden        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Clementoni</div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">12,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(102344,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="true">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="101850" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/grafika-loeuvre-dhokusai-puzzle-1000-pieces.p101850.html" title="Puzzle  Grafika-F-33668 L'Oeuvre d'Hokusai"> <img src="https://data.puzzle.fr/grafika.133/grafika-f-33668-grafika-loeuvre-dhokusai-puzzle-1000-pieces.101850-1.700.jpg" alt="Puzzle  Grafika-F-33668 L'Oeuvre d'Hokusai" title="Puzzle  Grafika-F-33668 L'Oeuvre d'Hokusai"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/grafika-loeuvre-dhokusai-puzzle-1000-pieces.p101850.html" title="Puzzle  Grafika-F-33668 L'Oeuvre d'Hokusai">
        <span class="libelle2-acc-libelle">
          L'Oeuvre d'Hokusai        </span>
                            <span class="libelle2-acc-nbpieces">
                    1000          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Grafika</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">15,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(101850,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item"  data-age-group="adulte" data-mif="true">
                <div class="cube-prod-acc">


                    <div class="content-new-sticker">
                        <span>Nouveauté</span>
                    </div>
                    <div class="cubecoeur"> <img data-rel="99003" src="/_themes/puzzlethemes/fr/images/heart_icon.svg" alt="Cliquez pour ajouter le produit &agrave; vos favoris" title="Cliquez pour ajouter le produit &agrave; vos favoris"  style="border:0px;"/> </div>
                    <div style="width: 100%;"> <a href="/pieces-peace-promenade-dans-le-pays-puzzle-1500-pieces.p99003.html" title="Puzzle  Pieces-Peace-F-00092 Promenade dans le Pays"> <img src="https://data.puzzle.fr/pieces-and-peace-puzzle.206/pieces-peace-f-00092-pieces-peace-promenade-dans-le-pays-puzzle-1500-pieces.99003-1.700.jpg" alt="Puzzle  Pieces-Peace-F-00092 Promenade dans le Pays" title="Puzzle  Pieces-Peace-F-00092 Promenade dans le Pays"  style="border:0px;width: 100%;height: auto;border-radius: 12px 12px 0px 0px;" width="150" height="150"/> </a> </div>
                    <div class="libelle2-acc">
                        <a href="/pieces-peace-promenade-dans-le-pays-puzzle-1500-pieces.p99003.html" title="Puzzle  Pieces-Peace-F-00092 Promenade dans le Pays">
        <span class="libelle2-acc-libelle">
          Promenade dans le Pays        </span>
                            <span class="libelle2-acc-nbpieces">
                    1500          pi&egrave;ces
                    </span>
                            <span class="libelle2-acc-marque">
            <div style="float:left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 2px;"> Pieces & Peace</div>
                          <div style="float:left; margin-left:4px; margin-top:-2px"><img src="/_themes/puzzlethemes/fr/images/Picto made in france-slick.svg" alt="Fabriqué en France" title="Fabriqué en France"></div>
                      </span>
                        </a>
                        <div class="content-prix-barre">
                            <div class="prix-barre">
                                <span class="prix-client-barre">27,95&euro;</span><span class="prix-sans-promo-barre"></span>
                            </div>
                            <div style=""  onclick="addproduitz(99003,1,0,253)">
                                <button type="button" class="button-add-cart">
                                    <img src="/_themes/puzzlethemes/fr/images/add-to-cart.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
            </div></div>
</div>
