<div class="slider-home">
    <div class="slider-container" style="position: relative;">
        <div class="content-btn-slider">
            <div class="prev">
                <img src="/_themes/puzzlethemes/fr/images/nav-arrow-left-slider.svg" alt="">
            </div>
            <div class="next">
                <img src="/_themes/puzzlethemes/fr/images/nav-arrow-right-slider.svg" alt="">
            </div>
            <!-- <div class="next" style="cursor:pointer">
                <img src="/_themes/puzzlethemes/fr/images/nav-arrow-right-slider.svg" alt="">
            </div> -->
        </div>

        <a href="/selection-puzzles-eurographics-2-achets-le-3me-offert.u33.html" title="Puzzles Eurographics" class="slide" style="background-color: #b6def3;">
            <div  class="content-slide">
                <div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div class="image-desktop" style="align-self: stretch; flex: 1 1 0;background-image: url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4125-offre-eurographics.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                    </div>
                    <div class="mobile-image" style="align-self: stretch; flex: 1 1 0;background-image:url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4125-offre-eurographics2.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                    </div>
                </div>
            </div>
        </a>
        <a href="/offre-ravensburger.html" title="Découvrez la sélection de puzzles !" class="slide" style="background-color: #99d3d7;">
            <div  class="content-slide">
                <div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div class="image-desktop" style="align-self: stretch; flex: 1 1 0;background-image: url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4123-offre-de-remboursement-ravensburger-nathan.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div>
                                <span class="titr-wrap">Découvrez la sélection de puzzles !</span>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-image" style="align-self: stretch; flex: 1 1 0;background-image:url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4123-offre-de-remboursement-ravensburger-nathan2.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div style="margin-bottom: 8px;width: 100%;">
                                <span class="titr-wrap">Découvrez la sélection de puzzles !</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/selection.u260.html?ordre=datedesc#" title="Célébrez la Gourmandise de Pâques avec un Puzzle !" class="slide" style="background-color: #bde1ff;">
            <div  class="content-slide">
                <div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div class="image-desktop" style="align-self: stretch; flex: 1 1 0;background-image: url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4111-clbrez-la-gourmandise-de-pques-avec-un-puzzle.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div>
                                <span class="titr-wrap">Célébrez la Gourmandise de Pâques avec un Puzzle !</span>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-image" style="align-self: stretch; flex: 1 1 0;background-image:url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4111-clbrez-la-gourmandise-de-pques-avec-un-puzzle-2.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div style="margin-bottom: 8px;width: 100%;">
                                <span class="titr-wrap">Célébrez la Gourmandise de Pâques avec un Puzzle !</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/catalogue/puzzles-personnalises.php" title="Puzzles Photo dès 11.95€ seulement" class="slide" style="background-color: #aad0ee;">
            <div  class="content-slide">
                <div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div class="image-desktop" style="align-self: stretch; flex: 1 1 0;background-image: url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4097-puzzles-photo-en-promotion.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div>
                                <span class="titr-wrap">Puzzles Photo dès 11.95€ seulement</span>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-image" style="align-self: stretch; flex: 1 1 0;background-image:url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4097-puzzles-photo-en-promotion2.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div style="margin-bottom: 8px;width: 100%;">
                                <span class="titr-wrap">Puzzles Photo dès 11.95€ seulement</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/hop-house-of-puzzles" title="House of Puzzles est de retour !" class="slide" style="background-color: #53a3ca;">
            <div  class="content-slide">
                <div style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                    <div class="image-desktop" style="align-self: stretch; flex: 1 1 0;background-image: url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4093-house-of-puzzle-est-de-retour.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div>
                                <span class="titr-wrap">House of Puzzles est de retour !</span>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-image" style="align-self: stretch; flex: 1 1 0;background-image:url('/_themes/puzzlethemes/fr/images/wrapper/wrapper-4093-house-of-puzzle-est-de-retour-2.jpg');background-size: cover; background-position: center; flex-direction: column; justify-content: flex-end; align-items: center; gap: 10px; display: flex; position: relative;">
                        <div class="txt-aff">
                            <div style="margin-bottom: 8px;width: 100%;">
                                <span class="titr-wrap">House of Puzzles est de retour !</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="dot-container">
            <div class="dot" style="cursor:pointer" data-index="0"></div>
            <div class="dot" style="cursor:pointer" data-index="1"></div>
            <div class="dot" style="cursor:pointer" data-index="2"></div>
            <div class="dot" style="cursor:pointer" data-index="3"></div>
            <div class="dot" style="cursor:pointer" data-index="4"></div>
        </div>
    </div>
</div>
<script>

</script>
